<br>
<h1 class="mt-4"><%= t("samples.details.header") %></h1>

<ol class="breadcrumb mb-4 hidden-print">
  <li>
    <%= link_to samples_path do %>
      <%= t('samples.nav') %>
    <% end %>
  </li> &nbsp;/&nbsp;
  <li class="active"> <%= t('samples.details.header') %></li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <%= link_to sample_path(@sample), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: t("actions.confirm"), toggle: 'tooltip', placement: 'top', disable_with: t('actions.deleting.short') }, title: t('actions.delete') do %>
      <i class="fa fa-times fa-fw" aria-hidden="true"></i>
      Delete Reference
    <% end %>

    <%= link_to edit_sample_path(@sample, return_to: sample_path(@sample)), class: "btn btn-success btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.edit') do %>
      <i class="fa fa-pencil-alt fa-fw" aria-hidden="true"></i>
      Edit Sample
    <% end %>
  </div>

  <div class="card-body">
    <!-- Details Row # 1:  -->
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="small mb-1">
            Title:
          </label>
          <div class="form-control" style="height: 50px; vertical-align: middle !important; padding-top: 12px;">
            <%= if_applicable @sample.title, titleize: false %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="small mb-1">
            Sub title:
          </label>
          <div class="form-control" style="height: 50px; vertical-align: middle !important; padding-top: 12px;">
            <%= if_applicable @sample.sub_title, titleize: false %>
          </div>
        </div>
      </div>
    </div>

    <!-- Details Row # 2:  -->
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="small mb-1">
            Url:
          </label>
          <div class="form-control" style="height: 50px; vertical-align: middle !important; padding-top: 12px;">
            <%= if_applicable @sample.url, titleize: false %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="small mb-1">
            Image:
          </label>
          <% if @sample.image.attached? %>
            <%= image_tag @sample.image, style: "width: 200px; display: block;" %>
          <% end %>

          <%#= form.text_field :pertinent_date, class: 'form-control py-4', autofocus: true, autocomplete: "pertinent_date", placeholder: 'Enter the pertinent date', data: { behavior: "flatpickr" } %>
        </div>
      </div>
    </div>

    <!-- Separation Row: Makes this partial more similar to the edit/new form  -->
    <div class="form-group"></div>

    <!-- Separation Row: Makes this partial more similar to the edit/new form  -->
    <div class="form-group"></div>
  </div>
</div>
