<%
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  skills = local_assigns.fetch(:skills, [])
  skills_scope_meta ||= nil
  skill_model = Skill
%>

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>
          <%= sort_link(skills_scope_meta, :name, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(skills_scope_meta, :color, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(skills_scope_meta, :percentage, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(skills_scope_meta, :created_at, { default_order: :asc }) %>
        </th>

        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% if skills.present? %>
        <%= render partial: "skills/skill_row", collection: skills, as: :skill, locals: { return_to: return_to } %>
      <% else %>
        <tr>
          <td colspan="6" class="text-center">
            <i class="fa fa-info-circle"></i>
            <i><%= t('errors.resources.not_found', resource: humanize_model(skill_model, pluralize: true, titleize: false)) %></i>
          </td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>