<%
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  skill = local_assigns.fetch(:skill)
%>

<tr>
  <td>
    <div class="nowrap">
      <%= link_to skill.name, skill_path(skill) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= skill.color %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= skill.percentage %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= if_applicable(skill.created_at.present? ? l(skill.created_at) : nil, titleize: false) %>
    </div>
  </td>

  <td class="nowrap">
    <%#= link_to download_skill_as_word_skill_path(skill), class: "btn btn-sm", download: note.title, data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.download') do %>
    <!--      <i class="fa fa-download fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%#= link_to clone_skill_path(skill), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.clone') do %>
    <!--      <i class="fa fa-clone fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%= link_to edit_skill_path(skill, return_to: skills_path), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.edit') do %>
      <i class="fa fa-pencil-alt fa-fw" aria-hidden="true"></i>
    <% end %>

    <%= link_to skill_path(skill), method: :delete, class: "btn btn-sm", data: { confirm: t("actions.confirm"), toggle: 'tooltip', placement: 'top', disable_with: t('actions.deleting.short') }, title: t('actions.delete') do %>
      <i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>