<%
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  contact = local_assigns.fetch(:contact)
  body_truncate_length = 160
  # body_text = text_from_note(contact)
  body_text = contact.message
%>

<tr>
  <td>
    <div class="nowrap">
      <%= link_to contact.name, contact_path(contact) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= contact.email %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= contact.subject %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <% popover_data = body_text.length > body_truncate_length ? { toggle: :popover, trigger: :hover, title: t('contacts.column_header_labels.body'), content: contact.message.to_s, placement: :left, html: true } : {} %>
      <%= content_tag :div, data: popover_data do %>
        <%= truncate(body_text, length: body_truncate_length) %>
      <% end %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= if_applicable(contact.created_at.present? ? l(contact.created_at) : nil, titleize: false) %>
    </div>
  </td>

  <td class="nowrap">
    <%#= link_to download_contact_as_word_contact_path(contact), class: "btn btn-sm", download: note.title, data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.download') do %>
    <!--      <i class="fa fa-download fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%#= link_to clone_contact_path(contact), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.clone') do %>
    <!--      <i class="fa fa-clone fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%#= link_to edit_contact_path(contact, return_to: contacts_path), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.edit') do %>
    <!--      <i class="fa fa-pencil-alt fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%= link_to contact_path(contact), method: :delete, class: "btn btn-sm", data: { confirm: t("actions.confirm"), toggle: 'tooltip', placement: 'top', disable_with: t('actions.deleting.short') }, title: t('actions.delete') do %>
      <i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>