<br>
<h1 class="mt-4"><%= t("skills.details.header") %></h1>

<ol class="breadcrumb mb-4 hidden-print">
  <li>
    <%= link_to skills_path do %>
      <%= t('skills.nav') %>
    <% end %>
  </li> &nbsp;/&nbsp;
  <li class="active"> <%= t('skills.details.header') %></li>
</ol>

<div class="card mb-4">
  <div class="card-header">
    <%= link_to skill_path(@skill), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: t("actions.confirm"), toggle: 'tooltip', placement: 'top', disable_with: t('actions.deleting.short') }, title: t('actions.delete') do %>
      <i class="fa fa-times fa-fw" aria-hidden="true"></i>
      Delete Skill
    <% end %>

    <%= link_to edit_skill_path(@skill, return_to: skill_path(@skill)), class: "btn btn-success btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.edit') do %>
      <i class="fa fa-pencil-alt fa-fw" aria-hidden="true"></i>
      Edit Skill
    <% end %>
  </div>

  <div class="card-body">
    <!-- Details Row # 1:  -->
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="small mb-1">
            Name:
          </label>
          <div class="form-control" style="height: 50px; vertical-align: middle !important; padding-top: 12px;">
            <%= if_applicable @skill.name, titleize: false %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="small mb-1">
            Color:
          </label>
          <div class="form-control" style="color: white; background: <%= @skill.color %>; height: 50px; vertical-align: middle !important; padding-top: 12px;">
            <%= if_applicable @skill.color, titleize: false %>
          </div>
        </div>
      </div>
    </div>

    <!-- Details Row # 2:  -->
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="small mb-1">
            Percentage:
          </label>
          <div class="form-control" style="height: 50px; vertical-align: middle !important; padding-top: 12px;">
            <%= if_applicable @skill.percentage, titleize: false %>
          </div>
        </div>
      </div>
    </div>

    <!-- Separation Row: Makes this partial more similar to the edit/new form  -->
    <div class="form-group"></div>

    <!-- Separation Row: Makes this partial more similar to the edit/new form  -->
    <div class="form-group"></div>
  </div>
</div>
