<!-- education -->
<div class="experience" id="education">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Education&nbsp;</h3>
    <div class="col-md-12 abt-left">
      <div class="accordion">
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-1">
            <span>2015 - <%= Time.now.year.to_s %></span>Udemy.com
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-1" class="accordion-section-content">
            <h6>Training Courses OnLine</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/ios-13-app-development-bootcamp/", class: "reactjs_udemy", target: '_swift_angela_udemy' do %>
                  Swift 5 with XCode
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/react-the-complete-guide-incl-redux/", class: "reactjs_udemy", target: '_reactjs_maximilian_udemy' do %>
                  React.js training course
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/curso-ruby-rails/", class: "reactjs_udemy", target: '_ruby_aldo_udemy' do %>
                  Ruby, whole training course, from the beginning to Rails
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-2">
            <span>2002 - 2007</span> Higher Polytechnic Institute “J. A. Echeverria” (CUJAE)
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-2" class="accordion-section-content">
            <h6>B. S. Computer Science</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://cujae.edu.cu/", class: "cujae_website", target: '_cujae_website' do %>
                  <strong>Website: </strong>https://cujae.edu.cu
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://goo.gl/maps/RY3UcStDR4K9MBPc9", class: "cujae_googlemaps", target: '_cujae_googlemaps' do %>
                  <strong>Address: </strong>Calle 114 #11901, e/ Ciclovía y Rotonda, CP 19390, Marianao, La Habana, Cuba
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-3">
            <span>1995 - 1998</span> Vocational High School Inst. of Exact Sciences "V. I. Lenin"
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-3" class="accordion-section-content">
            <h6>Emphasis on Physics</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://www.facebook.com/lenin.ipvce", class: "lenin_facebook", target: '_lenin_facebook' do %>
                  <strong>Facebook Page: </strong>https://www.facebook.com/lenin.ipvce
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://www.instagram.com/p/B3_KLoXBFLb/", class: "lenin_instagram", target: '_lenin_instagram' do %>
                  <strong>Instagram Page: </strong>https://www.instagram.com/p/B3_KLoXBFLb/
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://goo.gl/maps/AbqwfFqn5XWrU51p7", class: "lenin_googlemaps", target: '_lenin_googlemaps' do %>
                  <strong>Address: </strong>Circunvalación El Globo, Km 3½, CP 10900, Arroyo Naranjo, La Habana, Cuba
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //education -->