<!-- projects -->
<div class="portfolio" id="projects">
  <div class="container">
    <h3 class="w3l-title">My Projects</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, root route (local setup)">
            <img src=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>spotzer-cms</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/02.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, login page"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/03.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Dashboard"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/04.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Membership Section, Templates administration"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/05.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Membership Section, Cards administration"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/08.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pages section, new event form"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/10.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, index action"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/11.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Standard fields tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/12.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Details tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/13.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Style fields tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/14.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Visual appareance tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/15.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Images tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/16.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Locations tab with alert flash message)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/17.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Locations tab without alert flash message)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/18.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Beacons tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/19.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, (logged as a Museum Admin)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/20.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings (logged as a Cuseum Admin)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/21.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings, Modal view"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/22.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings (closer look of the UI)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action">
            <img src=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Flags Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/02.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action with ransack search"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/03.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action (closer look of improved version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/04.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient index action, Patient Flags Modal (initial version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/05.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags tab"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/07.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Flags show view"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/12.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags Modal (last version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/13.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags index action (last version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/17.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags Modal with ransack search"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Main UI in English">
            <img src=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>SimOptic</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/02_Blog_Oficial_SimOptic_2008.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="Official Blog of SimOptic 2008, previous to its presentation at the II Convention Technology & Health, Havana, Cuba"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/03_Configuracion_de_Visor.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, alignment of the measurement target"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/04_Ayuda_Acceso_desde_Sistema.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Installation Help file"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/05_Interfaz_Principal_Spanish.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Main UI in Spanish"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/06_Negativo.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, High contrast mode on the Citohistopathology of the Cervix sample"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/07_Reporte_Formato_PDF.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Sample report exported in pdf file"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/08_Reporte_Vista_Previa.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Sample report previewed using Crystal Report"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/09_SimOptic_Instalado.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, location of the included files on a PC after executing the provided installer"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, about page, local development">
            <img src=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>web-app</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/02.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, art object edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/03.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, art object edit form, after change performed"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/04.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, production instance, about page"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/05.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, local development, video included"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/06.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, custom page edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/07.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, production instance, about page, final version of one the instances (Plaza Art Gallery)"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/09.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app from spotzer-cms, synchronizing the content of the custom pages to the server"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/10.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app from spotzer-cms, local development"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/13.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app content admin from spotzer-cms (art object edit form, Object Details tab)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports Section, Assessments tab (evaluated ones)">
            <img src=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Outcomes M. Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/02.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports Section, Assessments tab (received and ready ones)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/03.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Templates section (Assessment Programs index view)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/05.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, patient assessments show view"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/06.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report (no data found after query)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/07.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report with data found after ransack search"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/08.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report, flash errors messages after incomplete search parameters"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/09.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report, final version (local environment)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, User accounts">
            <img src=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>BookLogger</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/02_Ayuda_del_sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, System Help file provided by the Installer"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/03_Modelo_1164-01.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Official Form 1164-01, index view in datasource"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/04_Modificar_Planilla.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Official Form 1164-01, edit view"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/05_Reporte_de_todas_las_planillas_en_PDF.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, General Report of all the forms 1164-01 provided by the Reporting Centers (exported to pdf file)"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/06_Reporte_de_todas_las_planillas.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, General Report of all the forms 1164-01 provided by the Reporting Centers (preview using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/07_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Tracking system of the actions performed on the system"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, login page">
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Sample Website</h4>
              <p>SharpNotes</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/02_notes_index_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Notes index view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/03_new_note_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, New Note form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/04_create_account_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, New User form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/05_edit_account_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, User edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/06_password_recovery_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Password Recovery view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/07_resend_confirmation_email_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Resend Confirmation view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/08_about_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, about page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Settings section, e-Prescribe tab (local development)">
            <img src=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>KipuLabs Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/03.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Lab Interface section, Lab Test Requisitions index page"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/04.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Dashboard, Physician Review tab, Medical Test Orders index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/06.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, contacts main tab, Contacts index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/07.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Users section, Active users tab, active users index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/08.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Users section, Disabled users tab, disabled users index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/09.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Shift Main section, Ship Reports tab"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/10.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Schedules Main section, group session edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/11.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Patient show view, lower part"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/12.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Patient show view, upper part"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/13.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, New JS alerts, modified by the alertify gem"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/14.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Old JS alerts (default view on a Chrome Browser)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Lodging Capacity Administration tab">
            <img src=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HostalWare</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/02_Alertas.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Alerts tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/03_Archivos.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Registrations tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/04_Ayuda.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, System Help file provided by the Installer"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/05_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, System Users tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/06_Registro_de_Huespedes.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Guests Registration tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/07_Reporte_de_Habitaciones_4to_piso.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, 4to Floor Rooms Report (previewed with Crystal Reports)"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/08_Reporte_de_habitaciones_en_PDF.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, 4to Floor Rooms Report (exported to pdf file)"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/09_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Tracking system of all the actions performed on the App"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, root route (index)">
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>RoR Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/02.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, Gallery page"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/03.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, full view"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/04.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, Contact view"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/05.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, login page"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/06.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, signup page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, root route (UI in Spanish)">
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Church in Miami</h4>
              <p>BuenasNuevas Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/02.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, login page (UI in Spanish)"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/03.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, sign up page (UI in Spanish)"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/05.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Users Administration section, User index view"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/06.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Images Gallery page"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/07.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Videos Gallery page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Users tab">
            <img src=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HC-CAP 2008</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/02.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/03.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose (Excellence Hospitals Package)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/04.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Busy Connection notification view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/05.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose (System Control Package)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/06.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New User view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/07.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New Training Course view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/08.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Tracking System of all the actions performed on the App"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/09.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Human Resources in Branch Schools tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/10.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Tracked Action, show view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/11.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Excellence forms tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/12.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Programmed Training Courses tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/13.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New Excellence Hospital view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/14.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Provincial Forms Report (previewed using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/15.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Provincial Forms Report (printing preview from the app, using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/16.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, System alert sample"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/17.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Logical Data Model using Rational Rose"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/18.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Physical Data Model using Rational Rose"></a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //projects -->