<%
  contact_model = Contact
  contact = local_assigns.fetch(:contact, Contact.new)
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  skills = @skills
  references = @references
%>

<!-- about -->
<%= render partial: "about" %>
<!-- //about -->

<!-- skills -->
<%= render partial: "skills", locals: { skills: skills } %>
<!-- //skills -->

<!-- services -->
<%= render partial: "services" %>
<!-- //services -->

<!-- interests -->
<%= render partial: "interests" %>
<!-- //interests -->

<!-- experience -->
<%= render partial: "experience" %>
<!-- //experience -->

<!-- education -->
<div class="experience" id="education">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Education&nbsp;</h3>
    <div class="col-md-12 abt-left">
      <div class="accordion">
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-1">
            <span>2015 - <%= Time.now.year.to_s %></span>Udemy.com
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-1" class="accordion-section-content">
            <h6>Training Courses OnLine</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/ios-13-app-development-bootcamp/", class: "reactjs_udemy", target: '_swift_angela_udemy' do %>
                  Swift 5 with XCode
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/react-the-complete-guide-incl-redux/", class: "reactjs_udemy", target: '_reactjs_maximilian_udemy' do %>
                  React.js training course
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/curso-ruby-rails/", class: "reactjs_udemy", target: '_ruby_aldo_udemy' do %>
                  Ruby, whole training course, from the beginning to Rails
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-2">
            <span>2002 - 2007</span> Higher Polytechnic Institute “J. A. Echeverria” (CUJAE)
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-2" class="accordion-section-content">
            <h6>B. S. Computer Science</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://cujae.edu.cu/", class: "cujae_website", target: '_cujae_website' do %>
                  <strong>Website: </strong>https://cujae.edu.cu
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://goo.gl/maps/RY3UcStDR4K9MBPc9", class: "cujae_googlemaps", target: '_cujae_googlemaps' do %>
                  <strong>Address: </strong>Calle 114 #11901, e/ Ciclovía y Rotonda, CP 19390, Marianao, La Habana, Cuba
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-3">
            <span>1995 - 1998</span> Vocational High School Inst. of Exact Sciences "V. I. Lenin"
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-3" class="accordion-section-content">
            <h6>Emphasis on Physics</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://www.facebook.com/lenin.ipvce", class: "lenin_facebook", target: '_lenin_facebook' do %>
                  <strong>Facebook Page: </strong>https://www.facebook.com/lenin.ipvce
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://www.instagram.com/p/B3_KLoXBFLb/", class: "lenin_instagram", target: '_lenin_instagram' do %>
                  <strong>Instagram Page: </strong>https://www.instagram.com/p/B3_KLoXBFLb/
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://goo.gl/maps/AbqwfFqn5XWrU51p7", class: "lenin_googlemaps", target: '_lenin_googlemaps' do %>
                  <strong>Address: </strong>Circunvalación El Globo, Km 3½, CP 10900, Arroyo Naranjo, La Habana, Cuba
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //education -->

<!-- projects -->
<div class="portfolio" id="projects">
  <div class="container">
    <h3 class="w3l-title">My Projects</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, root route (local setup)">
            <img src=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>spotzer-cms</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/02.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, login page"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/03.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Dashboard"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/04.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Membership Section, Templates administration"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/05.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Membership Section, Cards administration"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/08.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pages section, new event form"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/10.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, index action"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/11.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Standard fields tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/12.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Details tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/13.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Style fields tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/14.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Visual appareance tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/15.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Images tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/16.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Locations tab with alert flash message)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/17.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Locations tab without alert flash message)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/18.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Beacons tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/19.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, (logged as a Museum Admin)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/20.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings (logged as a Cuseum Admin)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/21.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings, Modal view"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/22.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings (closer look of the UI)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action">
            <img src=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Flags Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/02.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action with ransack search"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/03.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action (closer look of improved version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/04.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient index action, Patient Flags Modal (initial version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/05.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags tab"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/07.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Flags show view"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/12.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags Modal (last version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/13.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags index action (last version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/17.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags Modal with ransack search"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Main UI in English">
            <img src=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>SimOptic</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/02_Blog_Oficial_SimOptic_2008.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="Official Blog of SimOptic 2008, previous to its presentation at the II Convention Technology & Health, Havana, Cuba"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/03_Configuracion_de_Visor.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, alignment of the measurement target"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/04_Ayuda_Acceso_desde_Sistema.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Installation Help file"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/05_Interfaz_Principal_Spanish.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Main UI in Spanish"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/06_Negativo.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, High contrast mode on the Citohistopathology of the Cervix sample"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/07_Reporte_Formato_PDF.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Sample report exported in pdf file"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/08_Reporte_Vista_Previa.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Sample report previewed using Crystal Report"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/09_SimOptic_Instalado.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, location of the included files on a PC after executing the provided installer"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, about page, local development">
            <img src=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>web-app</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/02.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, art object edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/03.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, art object edit form, after change performed"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/04.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, production instance, about page"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/05.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, local development, video included"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/06.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, custom page edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/07.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, production instance, about page, final version of one the instances (Plaza Art Gallery)"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/09.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app from spotzer-cms, synchronizing the content of the custom pages to the server"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/10.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app from spotzer-cms, local development"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/13.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app content admin from spotzer-cms (art object edit form, Object Details tab)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports Section, Assessments tab (evaluated ones)">
            <img src=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Outcomes M. Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/02.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports Section, Assessments tab (received and ready ones)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/03.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Templates section (Assessment Programs index view)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/05.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, patient assessments show view"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/06.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report (no data found after query)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/07.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report with data found after ransack search"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/08.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report, flash errors messages after incomplete search parameters"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/09.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report, final version (local environment)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, User accounts">
            <img src=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>BookLogger</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/02_Ayuda_del_sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, System Help file provided by the Installer"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/03_Modelo_1164-01.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Official Form 1164-01, index view in datasource"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/04_Modificar_Planilla.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Official Form 1164-01, edit view"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/05_Reporte_de_todas_las_planillas_en_PDF.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, General Report of all the forms 1164-01 provided by the Reporting Centers (exported to pdf file)"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/06_Reporte_de_todas_las_planillas.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, General Report of all the forms 1164-01 provided by the Reporting Centers (preview using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/07_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Tracking system of the actions performed on the system"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, login page">
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Sample Website</h4>
              <p>SharpNotes</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/02_notes_index_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Notes index view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/03_new_note_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, New Note form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/04_create_account_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, New User form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/05_edit_account_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, User edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/06_password_recovery_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Password Recovery view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/07_resend_confirmation_email_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Resend Confirmation view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/08_about_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, about page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Settings section, e-Prescribe tab (local development)">
            <img src=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>KipuLabs Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/03.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Lab Interface section, Lab Test Requisitions index page"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/04.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Dashboard, Physician Review tab, Medical Test Orders index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/06.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, contacts main tab, Contacts index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/07.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Users section, Active users tab, active users index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/08.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Users section, Disabled users tab, disabled users index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/09.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Shift Main section, Ship Reports tab"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/10.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Schedules Main section, group session edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/11.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Patient show view, lower part"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/12.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Patient show view, upper part"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/13.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, New JS alerts, modified by the alertify gem"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/14.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Old JS alerts (default view on a Chrome Browser)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Lodging Capacity Administration tab">
            <img src=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HostalWare</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/02_Alertas.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Alerts tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/03_Archivos.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Registrations tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/04_Ayuda.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, System Help file provided by the Installer"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/05_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, System Users tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/06_Registro_de_Huespedes.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Guests Registration tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/07_Reporte_de_Habitaciones_4to_piso.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, 4to Floor Rooms Report (previewed with Crystal Reports)"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/08_Reporte_de_habitaciones_en_PDF.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, 4to Floor Rooms Report (exported to pdf file)"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/09_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Tracking system of all the actions performed on the App"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, root route (index)">
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>RoR Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/02.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, Gallery page"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/03.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, full view"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/04.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, Contact view"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/05.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, login page"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/06.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, signup page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, root route (UI in Spanish)">
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Church in Miami</h4>
              <p>BuenasNuevas Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/02.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, login page (UI in Spanish)"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/03.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, sign up page (UI in Spanish)"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/05.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Users Administration section, User index view"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/06.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Images Gallery page"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/07.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Videos Gallery page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Users tab">
            <img src=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HC-CAP 2008</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/02.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/03.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose (Excellence Hospitals Package)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/04.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Busy Connection notification view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/05.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose (System Control Package)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/06.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New User view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/07.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New Training Course view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/08.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Tracking System of all the actions performed on the App"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/09.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Human Resources in Branch Schools tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/10.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Tracked Action, show view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/11.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Excellence forms tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/12.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Programmed Training Courses tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/13.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New Excellence Hospital view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/14.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Provincial Forms Report (previewed using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/15.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Provincial Forms Report (printing preview from the app, using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/16.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, System alert sample"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/17.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Logical Data Model using Rational Rose"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/18.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Physical Data Model using Rational Rose"></a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //projects -->

<!-- references -->
<div class="experience" id="references">
  <div class="container">
    <h3 class="w3l-title">&nbsp;&nbsp;&nbsp;References&nbsp;&nbsp;</h3>
    <div class="col-md-12 abt-left">
      <div class="accordion">

        <% references.each do |reference| %>
          <div class="accordion-section">
            <h5>
              <a class="accordion-section-title" href="#accordion-references-<%= reference.id.to_s %>">
                <span><%= reference.pertinent_date.strftime(I18n.t('date.formats.long')) %></span>
                <div style="display: inline; margin-left: <%= (17 - reference.pertinent_date.strftime(I18n.t('date.formats.long')).to_s.size) * 10 %>px"><%= reference.full_name %></div>
                <i class="glyphicon glyphicon-chevron-down"></i>
              </a>
            </h5>
            <div id="accordion-references-<%= reference.id.to_s %>" class="accordion-section-content">
              <h6><%= reference.current_job_title %></h6>
              <ul>
                <% if reference.linkedin_profile.present? %>
                  <li>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <%= link_to "#{reference.linkedin_profile}", class: "#{reference.full_name.delete(' ').delete('.')}_linkedin", target: "_#{reference.full_name.delete(' ').delete('.')}_linkedin" do %>
                      <strong>Linkedin Profile: </strong><%= reference.linkedin_profile %>
                    <% end %>
                  </li>
                <% end %>

                <% if reference.email.present? %>
                  <li>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <%= mail_to "#{reference.email}", class: "#{reference.full_name.delete(' ').delete('.')}_email", target: "_#{reference.full_name.delete(' ').delete('.')}_email" do %>
                      <strong>Email: </strong><%= reference.email %>
                    <% end %>
                  </li>
                <% end %>

                <% if reference.mobile_number.present? %>
                  <li>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <strong>Mobile: </strong><%= reference.mobile_number %>
                  </li>
                <% end %>
              </ul>

              <br>

              <div style="text-indent: 0 !important; text-align: justify;">
                <%= reference.letter %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- //references -->

<!-- samples -->
<div class="portfolio" id="samples">
  <div class="container">
    <h3 class="w3l-title">&nbsp;&nbsp;&nbsp;Samples&nbsp;&nbsp;&nbsp;</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://sharp-notes.herokuapp.com/", class: "sharpnotes", target: '_sharpnotes' do %>
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>SharpNotes</h4>
              <p>Sample RoR Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to 'https://salon-havana.herokuapp.com/', class: "salonhavana", target: '_salonhavana' do %>
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>Sample RoR Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://buenasnuevas.herokuapp.com/", class: "buenasnuevas", target: '_buenasnuevas' do %>
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Church BuenasNuevas</h4>
              <p>Sample Laravel Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://udemy-reactjs-burger-builder.herokuapp.com/", class: "burgerbuilder", target: '_burgerbuilder' do %>
            <img src=<%= "#{asset_path 'my_projects/13_BurgerBuilder/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Burger Builder</h4>
              <p>Sample React.js App</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //samples -->

<!-- introduce -->
<div class="confi-w3l">
  <div class="container">
    <h3>Hello....</h3>
    <p>It's my pleasure to introduce my self..well, I'm Reinier Garcia.</p>
    <p>
      I am a Highly focused and reliable mid level Full-Stack Web Developer, with an excellent learning capacity and a
      high dedication to work. Competent in handling multiple tasks and concerns with the utmost professionalism.
      Able to work independently with little or no supervision, or in coordination with supervisors and other coworkers.
    </p>
    <p>
      I am a Mid-level programmer with a good knowledge of front-end techniques and a complete passion about the
      back-end. I love structure and order and I also stand for quality. I love spending time on fixing little details
      and optimizing web apps. I enjoy working in a team. As the saying goes: ‘two heads are better than one’.
    </p>
  </div>
</div>
<!-- //introduce -->

<!-- //contact -->
<div class="address" id="contact">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Contact Me&nbsp;</h3>
    <div class="address-row">
      <div class="col-md-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
        <div class="address-grid">
          <h4 class="wow fadeIndown animated" data-wow-delay=".5s">Get In Touch</h4>
          <%= form_with(model: contact, local: true) do |form| %>
            <%= hidden_field_tag :return_to, return_to %>

            <%= form.text_field :name, placeholder: 'Name', autofocus: false %>
            <%= form.email_field :email, placeholder: 'Email', autofocus: false %>
            <%= form.text_field :subject, placeholder: 'Subject', autofocus: false %>
            <%= form.text_area :message, placeholder: 'Message', autofocus: false, disabled: false %>

            <div class="row">
              <div class="col-md-4">
                <div style="margin-top: 14px;">
                  <%= recaptcha_tags %>
                </div>
              </div>
              <div class="col-md-3">

              </div>

              <div class="col-md-4 submit-button">
                <%= form.submit "SEND", name: "send" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="col-md-6 address-right">
        <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
          <h4>Location</h4>
          <p>Miami, FL 33135, United States.</p>
          <p style="color: #F68415; font-size: 0.8em;">
            Open to working remotely or in the five closest cities: Miami, Coral Gables, Hialeah, Miami Beach or Doral.
          </p>
        </div>

        <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".7s">
          <h4>Phone </h4>
          <p>+1 (786) 458-2150</p>
          <p>Please let me know before, via email, the day & time of your call, as well as your calling phone
            number.
          </p>
          <p style="color: #F68415; font-size: 0.8em;">
            * I don't receive unknown or unexpected phone calls & messages.
          </p>
        </div>

        <div class="address-info agileits-info wow fadeInRight animated" da ta-wow-delay=".6s">
          <h4>Mail</h4>
          <p><a href="mailto:reymillenium@gmail.com"> reymillenium@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//contact-->