<%
  contact_model = Contact
  contact = local_assigns.fetch(:contact, Contact.new)
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  skills_all = Skill.all
%>

<!-- about -->
<div class="about" id="about">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Self&nbsp;</h3>
    <div class="about-w3l-agileifo-grid">
      <div class="col-md-7 agile-w3l-ab">
        <ul class="rslides" id="slider">
          <li>
            <div class="agile-w3l-ab-img">
              <img src=<%= "#{asset_path 'a1.jpg'}" %> class="img-responsive" alt="Homey Designs">
            </div>
          </li>
          <li>
            <div class="agile-w3l-ab-img">
              <img src=<%= "#{asset_path 'a2.jpg'}" %> class="img-responsive" alt="Homey Designs">
            </div>
          </li>
          <li>
            <div class="agile-w3l-ab-img">
              <img src=<%= "#{asset_path 'a3.jpg'}" %> class="img-responsive" alt="Homey Designs">
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-5 w3ls-agile-left">
        <div class="w3ls-agile-left-info">
          <h4>Name</h4>
          <p>Reinier Garcia</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Profession</h4>
          <p>Mid level Full-stack Ruby on Rails Developer</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Experience</h4>
          <p><%= descriptive_diff(Time.now, "2019-01-02".to_time) %> (in the United States)</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Location</h4>
          <p> Miami, FL 33135, United States</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Email Address</h4>
          <p><a href="mailto:reymillenium@gmail.com">reymillenium@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about -->

<!-- stats -->
<div class="stats wthree-sub" id="skills">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Skills</h3>
    <!-- Skill Bar Column -->
    <div class="col-sm-4 stats_grid_right">
      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #f1703a;"><small>OOP</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="85">
        <span class="skillbar-title" style="background: #2980b9;"><small>Ruby&nbsp;on&nbsp;Rails</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="85">
        <span class="skillbar-title" style="background: #a0d034;"><small>Ruby</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #f1703a;"><small>RSpec</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="40">
        <span class="skillbar-title" style="background: #2980b9;"><small>PHP7</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="50">
        <span class="skillbar-title" style="background: #a0d034;"><small>Laravel</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #f1703a;"><small>XAMPP</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="10">
        <span class="skillbar-title" style="background: #2980b9;"><small>Java</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #a0d034;"><small>Object&nbsp;Pascal</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #f1703a;"><small>PostgreSQL</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="75">
        <span class="skillbar-title" style="background: #2980b9;"><small>MySQL</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="75">
        <span class="skillbar-title" style="background: #a0d034;"><small>MariaDB</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="75">
        <span class="skillbar-title" style="background: #f1703a;"><small>SQL</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="5">
        <span class="skillbar-title" style="background: #2980b9;"><small>Swift</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="76">
        <span class="skillbar-title" style="background: #a0d034;"><small>To add</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->
    </div>
    <!-- /Skill Bar Column -->


    <!-- Skill Bar Column -->
    <div class="col-sm-4 stats_grid_right">
      <div class="skillbar" data-percent="25">
        <span class="skillbar-title" style="background: #f1703a;"><small>Redis</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="25">
        <span class="skillbar-title" style="background: #2980b9;"><small>Sidekiq</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="95">
        <span class="skillbar-title" style="background: #a0d034;"><small>MVC&nbsp;Pattern</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <!--        <span class="skillbar-title" style="background: #f1703a;"><small>Back-end&nbsp;Web&nbsp;Development</small></span>-->
        <!--        <span class="skillbar-title" style="background: #f1703a;"><small>Back&#8211;end&nbsp;Web&nbsp;Development</small></span>-->
        <span class="skillbar-title" style="background: #f1703a;"><small>Back&nbsp;End&nbsp;Development</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="55">
        <span class="skillbar-title" style="background: #2980b9;"><small>JavaScript</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #a0d034;"><small>jQuery</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #f1703a;"><small>CSS3</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #2980b9;"><small>SASS&nbsp;/&nbsp;SCSS</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #a0d034;"><small>Bootstrap</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #f1703a;"><small>HTML&nbsp;5</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="50">
        <span class="skillbar-title" style="background: #2980b9;"><small>Front&nbsp;End&nbsp;Development</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="55">
        <span class="skillbar-title" style="background: #a0d034;"><small>Adobe&nbsp;Flash</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="10">
        <span class="skillbar-title" style="background: #f1703a;"><small>Photoshop</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="5">
        <span class="skillbar-title" style="background: #2980b9;"><small>React.js</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="40">
        <span class="skillbar-title" style="background: #a0d034;"><small>Heroku</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->
    </div>
    <!-- /Skill Bar Column -->

    <!-- Skill Bar Column -->
    <div class="col-sm-4 stats_grid_right">
      <div class="skillbar" data-percent="55">
        <span class="skillbar-title" style="background: #f1703a;"><small>Delphi</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #2980b9;"><small>Confluence</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #a0d034;"><small>Agile&nbsp;Methodologies</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #f1703a;"><small>Scrum</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #2980b9;"><small>Kanban</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #a0d034;"><small>Git</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #f1703a;"><small>Github</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #2980b9;"><small>Bitbucket</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #a0d034;"><small>UML&nbsp;Modeling</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #f1703a;"><small>Sentry</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #2980b9;"><small>Jira</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #a0d034;"><small>Rational&nbsp;Unified&nbsp;Process</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #f1703a;"><small>Rational&nbsp;Rose</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="10">
        <span class="skillbar-title" style="background: #2980b9;"><small>WordPress</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #a0d034;"><small>To&nbsp;add</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->
    </div>
    <!-- /Skill Bar Column-->
    <div class="clearfix"></div>
  </div>
</div>
<!-- //stats -->

<!-- services -->
<div class="services" id="services">
  <div class="container">
    <h3 class="w3l-title">My Services</h3>
    <div class="box2">
      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fas fa-laptop-code" aria-hidden="true"></i>
            <div class="mask">
              <i class="fas fa-laptop-code" aria-hidden="true"></i>
              <h4>Web Development</h4>
              <p>
                Intuitive, easy to use & feature rich Ruby on Rails web applications. Smart & effective solutions for
                your business.
              </p>
            </div>
            <h3>Web Development</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fas fa-laptop-medical" aria-hidden="true"></i>
            <div class="mask">
              <i class="fas fa-laptop-medical" aria-hidden="true"></i>
              <h4>Rspec Testing</h4>
              <p>Tests/Specs is a safety net, preventing bugs in production, forcing better code & encouraging
                developer confidence when changing existing code bases.
              </p>
            </div>
            <h3>Rspec Testing</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <div class="mask">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <!-- <i class="fas fa-laptop-house" aria-hidden="true"></i>-->
              <h4>Software Engineering</h4>
              <p>
                I can analyze and gather the user requirements and then designing, build, and test software applications
                which will satisfy those requirements.
              </p>
            </div>
            <h3>Software Engineering</h3>
          </div>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //services -->

<!-- stats2 -->
<div class="stats wthree-sub" id="skills">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Skills</h3>

    <% skills_all.each_slice(3) do |skills_slice| %>
      <div class="row">
        <% skills_slice.each do |skill| %>
          <div class="col-sm-4 stats_grid_right">
            <div class="skillbar" data-percent="<%= skill.percentage %>">
              <span class="skillbar-title" style="background: <%= skill.color %>;"><small><%= skill.name %></small></span>
              <p class="skillbar-bar" style="background: <%= skill.color %>;"></p>
              <span class="skill-bar-percent"></span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</div>
<!-- //stats2 -->

<!-- interests -->
<div class="intra-w3l" id="interests">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Interests&nbsp;</h3>
    <div class="agile-w3l-in">
      <i class="fa fa-images" aria-hidden="true"></i>
      <p>Graphic Editing</p>
    </div>
    <div class="agile-w3l-in">
      <i class="fab fa-app-store-ios" aria-hidden="true"></i>
      <p>IOS Development</p>
    </div>
    <div class="agile-w3l-in">
      <i class="fa fa-book" aria-hidden="true"></i>
      <p>Reading</p>
    </div>
    <div class="agile-w3l-in w3l-intra-re">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <p>GAMING</p>
    </div>
    <div class="agile-w3l-in w3l-intra-re">
      <i class="fa fa-music" aria-hidden="true"></i>
      <p>MUSIC</p>
    </div>

  </div>
</div>
<!-- //interests -->

<!-- experience -->
<div class="services-w3l" id="experience">
  <div class="container">
    <h3 class="w3l-title">Experience</h3>
    <div class="wthree_latest_albums_grids">
      <div class="cntl"><span class="cntl-bar cntl-center"> <span class="cntl-bar-fill"></span> </span>
        <div class="cntl-states">
          <div class="cntl-state">
            <div class="cntl-content">
              <h4>05/2020 - Present</h4>
              <p>Ruby on Rails Developer</p>
              <br>
              <div style="text-align: justify;">
                Designed and coded from scratch the CuseumPkpass Module with a full CRUD plus cloning and
                exporting/downloading features. This fully customizable and extensible Module is in charge of the whole
                generation process of custom made ".pkpass" files used by the IOS Wallet app, including its locations
                and beacons. All according to the official Apple Passbook Guidelines. Also fixed bugs, as well as
                optimized and added new features in two different repositories of the company.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Back-end development using Ruby on Rails, with MySQL, PostgreSQL and Redis + Sidekiq.</li>
                  <li>Front-end development (HAML & ERB), using JavaScript, jQuery, CSS3 & Bootstrap.</li>
                  <li>Software Engineering applying Agile Software Development Methodology (Kanban).</li>
                  <li>Daily testing of the source code with Rspec and control versioning using Git.</li>
                  <li>Documented my projects using Jira and Confluence.</li>
                  <li>Application monitoring and error tracking using Sentry.</li>
                </ul>
              </div>
            </div>
            <div class="cntl-image">
              <img src=<%= "#{asset_path 'work_experience/cuseum_logo_640x436.png'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>Cuseum, Inc. Boston, MA (remote)</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">01</div>
          </div>

          <!-- The line break must be in pairs-->
          <br>
          <br>
          <br>
          <br>

          <div class="cntl-state">
            <div class="cntl-content">
              <h4>01/2019 - 05/2020</h4>
              <p>Ruby on Rails Developer</p>
              <br>
              <div style="text-align: justify;">
                Member of the Data & Interoperability Development Team (Data-IO). Improved and Optimized SQL performance
                and database access related to the EMR backend logic (complex modules like KipuLabs, Outcomes
                Measurement & Flags). Implemented and optimized Rspec tests on daily basis. Implemented & refactored
                Views structure and javascript behavior associated to those three modules.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Back-end development using Ruby on Rails with PostgreSQL & Redis + Sidekiq.</li>
                  <li>Front-end development (ERB) using JavaScript, jQuery, CSS3 & Bootstrap.</li>
                  <li>Software Engineering applying Agile Software Development Methodology (SCRUM).</li>
                  <li>Daily testing of the source code with Rspec and control versioning using Git.</li>
                  <li>Documented my projects using Jira and Confluence.</li>
                </ul>
              </div>
              <br>
              <div>
                * MAT Project > Flags Module:
              </div>
              <div style="text-align: justify;">
                Implemented the Flags Module inside the Medication Assisted Treatment Project. This module alerts the
                MAT staff with advanced reporting about certain conditions and pending actions, as well as to determine
                and suggest the processing on the patient queue automatically. It also provides a visual indicator to
                the user to address issues that need to be resolved with the patient, prior to dosing.
              </div>
              <br>
              <div>
                * Outcomes Measurement Module:
              </div>
              <div style="text-align: justify;">
                Extended and optimized the Outcomes Measurement module with advanced reporting and configurable
                scheduler for different EMR locations. This tool integrates different assessment driven methodologies to
                determine the patient progress during treatment. The architecture is event-driven and combines an
                assessment scheduler, a delivery service, and features to evaluate, analyze and report the results.
              </div>
              <br>
              <div>
                * KipuLabs Module:
              </div>
              <div>
                Perfected, expanded and maintained the already existing Kipu Labs Integration Project (KipuLabs Module).
                Updated the gems used in the implementation of a reactive communication protocol to exchange data
                between the EMR and the new Labs Platform service. Implemented the Medical Test Orders and the Potential
                Enrollments Report Sections, both with advanced reporting.
              </div>
            </div>
            <div class="cntl-image w3_cntl_image">
              <img src=<%= "#{asset_path 'work_experience/kipu_health_logo_640x436.png'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>Kipu Health, LLC. Coral Gables, FL</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">02</div>
          </div>

          <!-- The line break must be in pairs-->
          <br>
          <br>
          <br>
          <br>

          <div class="cntl-state">
            <div class="cntl-content">
              <h4>08/2015 - 01/2019</h4>
              <p>Freelance Web Developer (Apprenticeship)</p>
              <br>
              <div style="text-align: justify;">
                Designed and implemented Laravel and Ruby on Rails free websites for churches. It was a pro bono
                activity, on my free time, while I was learning how to code Web apps using MVC frameworks.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Back-end development using Ruby on Rails or Laravel + XAMPP, with MariaDB, MySQL and PostgreSQL.
                  </li>
                  <li>Front-end development (ERB or Blade), using JavaScript, jQuery, CSS3 & Bootstrap.</li>
                  <li>Software Engineering applying Agile Software Development Methodology (Scrum).</li>
                  <li>Daily testing of the source code with Rspec and control versioning using Git.</li>
                  <li>Web deployment using IPage and Heroku.</li>
                </ul>
              </div>
            </div>
            <div class="cntl-image w3_cntl_image">
              <img src=<%= "#{asset_path 'work_experience/sleekware_logo_640x436.png'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>SleekWare Project. Miami, FL</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">03</div>
          </div>

          <!-- The line break must be in pairs-->
          <br>
          <br>
          <br>
          <br>

          <div class="cntl-state">
            <div class="cntl-content">
              <h4>10/2007 - 08/2015</h4>
              <p>Software Developer</p>
              <br>
              <div style="text-align: justify;">
                Designed and implemented client-server Java & Delphi desktop apps for the institution. Taught software
                courses to students and provided technical training to coworkers. Maintained the Institute’s web portal
                and others CMS intranet websites. Leaded on the institution the Open Source “Galeno Media” Project, a
                cuban software to publish medical courses.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Object Oriented Programming using Java (NetBeans) & Object Pascal (Delphi), with Microsoft SQL
                    Server.
                  </li>
                  <li>Front-end development, using JavaScript, jQuery, CSS3, HTML & Bootstrap.</li>
                  <li>Software Engineering applying Unified Modeling Language (UML) with Rational Unified Process (RUP)
                    (Rational Rose).
                  </li>
                </ul>
              </div>
            </div>
            <div class="cntl-image w3_cntl_image">
              <img src=<%= "#{asset_path 'work_experience/cenapet_cotorro_building_640x436.jpg'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>CENAPET. Havana, Cuba</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">04</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //experience -->

<!-- education -->
<div class="experience" id="education">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Education&nbsp;</h3>
    <div class="col-md-12 abt-left">
      <div class="accordion">
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-1">
            <span>2015 - <%= Time.now.year.to_s %></span>Udemy.com
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-1" class="accordion-section-content">
            <h6>Training Courses OnLine</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/ios-13-app-development-bootcamp/", class: "reactjs_udemy", target: '_swift_angela_udemy' do %>
                  Swift 5 with XCode
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/react-the-complete-guide-incl-redux/", class: "reactjs_udemy", target: '_reactjs_maximilian_udemy' do %>
                  React.js training course
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <%= link_to "https://www.udemy.com/course/curso-ruby-rails/", class: "reactjs_udemy", target: '_ruby_aldo_udemy' do %>
                  Ruby, whole training course, from the beginning to Rails
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-2">
            <span>2002 - 2007</span> Higher Polytechnic Institute “J. A. Echeverria” (CUJAE)
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-2" class="accordion-section-content">
            <h6>B. S. Computer Science</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://cujae.edu.cu/", class: "cujae_website", target: '_cujae_website' do %>
                  <strong>Website: </strong>https://cujae.edu.cu
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://goo.gl/maps/RY3UcStDR4K9MBPc9", class: "cujae_googlemaps", target: '_cujae_googlemaps' do %>
                  <strong>Address: </strong>Calle 114 #11901, e/ Ciclovía y Rotonda, CP 19390, Marianao, La Habana, Cuba
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-3">
            <span>1995 - 1998</span> Vocational High School Inst. of Exact Sciences "V. I. Lenin"
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-3" class="accordion-section-content">
            <h6>Emphasis on Physics</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://www.facebook.com/lenin.ipvce", class: "lenin_facebook", target: '_lenin_facebook' do %>
                  <strong>Facebook Page: </strong>https://www.facebook.com/lenin.ipvce
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://www.instagram.com/p/B3_KLoXBFLb/", class: "lenin_instagram", target: '_lenin_instagram' do %>
                  <strong>Instagram Page: </strong>https://www.instagram.com/p/B3_KLoXBFLb/
                <% end %>
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= link_to "https://goo.gl/maps/AbqwfFqn5XWrU51p7", class: "lenin_googlemaps", target: '_lenin_googlemaps' do %>
                  <strong>Address: </strong>Circunvalación El Globo, Km 3½, CP 10900, Arroyo Naranjo, La Habana, Cuba
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //education -->

<!-- projects -->
<div class="portfolio" id="projects">
  <div class="container">
    <h3 class="w3l-title">My Projects</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, root route (local setup)">
            <img src=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>spotzer-cms</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/02.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, login page"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/03.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Dashboard"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/04.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Membership Section, Templates administration"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/05.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Membership Section, Cards administration"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/08.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pages section, new event form"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/10.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, index action"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/11.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Standard fields tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/12.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Details tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/13.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Style fields tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/14.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Visual appareance tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/15.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Images tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/16.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Locations tab with alert flash message)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/17.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Locations tab without alert flash message)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/18.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Pkpass Module, edit Pkpass Template form (Beacons tab)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/19.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, (logged as a Museum Admin)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/20.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings (logged as a Cuseum Admin)"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/21.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings, Modal view"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/22.png'}" %> data-lightbox="cuseum_pkpass" data-title="Spotzer-cms repo, Master Settings section, Menu Settings (closer look of the UI)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action">
            <img src=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Flags Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/02.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action with ransack search"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/03.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags tab, index action (closer look of improved version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/04.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient index action, Patient Flags Modal (initial version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/05.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags tab"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/07.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Flags show view"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/12.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags Modal (last version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/13.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Show view, Patient Flags index action (last version)"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/17.png'}" %> data-lightbox="kipuhealth_flags" data-title="Healthmatters repo, MAT project, Flags Module, Patient Flags Modal with ransack search"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Main UI in English">
            <img src=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>SimOptic</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/02_Blog_Oficial_SimOptic_2008.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="Official Blog of SimOptic 2008, previous to its presentation at the II Convention Technology & Health, Havana, Cuba"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/03_Configuracion_de_Visor.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, alignment of the measurement target"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/04_Ayuda_Acceso_desde_Sistema.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Installation Help file"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/05_Interfaz_Principal_Spanish.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Main UI in Spanish"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/06_Negativo.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, High contrast mode on the Citohistopathology of the Cervix sample"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/07_Reporte_Formato_PDF.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Sample report exported in pdf file"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/08_Reporte_Vista_Previa.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, Sample report previewed using Crystal Report"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/09_SimOptic_Instalado.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="SimOptic 2008, location of the included files on a PC after executing the provided installer"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, about page, local development">
            <img src=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>web-app</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/02.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, art object edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/03.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app repo, art object edit form, after change performed"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/04.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, production instance, about page"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/05.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, local development, video included"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/06.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, custom page edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/07.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app, production instance, about page, final version of one the instances (Plaza Art Gallery)"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/09.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app from spotzer-cms, synchronizing the content of the custom pages to the server"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/10.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app from spotzer-cms, local development"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/13.png'}" %> data-lightbox="cuseum_web_app" data-title="Cuseum, web-app content admin from spotzer-cms (art object edit form, Object Details tab)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports Section, Assessments tab (evaluated ones)">
            <img src=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Outcomes M. Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/02.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports Section, Assessments tab (received and ready ones)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/03.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Templates section (Assessment Programs index view)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/05.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, patient assessments show view"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/06.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report (no data found after query)"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/07.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report with data found after ransack search"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/08.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report, flash errors messages after incomplete search parameters"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/09.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="Healthmatters repo, Outcomes Measurement Module, Reports section, Aggregated Issues Report, final version (local environment)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, User accounts">
            <img src=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>BookLogger</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/02_Ayuda_del_sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, System Help file provided by the Installer"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/03_Modelo_1164-01.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Official Form 1164-01, index view in datasource"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/04_Modificar_Planilla.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Official Form 1164-01, edit view"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/05_Reporte_de_todas_las_planillas_en_PDF.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, General Report of all the forms 1164-01 provided by the Reporting Centers (exported to pdf file)"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/06_Reporte_de_todas_las_planillas.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, General Report of all the forms 1164-01 provided by the Reporting Centers (preview using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/07_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="Booklogger, Tracking system of the actions performed on the system"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, login page">
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Sample Website</h4>
              <p>SharpNotes</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/02_notes_index_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Notes index view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/03_new_note_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, New Note form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/04_create_account_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, New User form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/05_edit_account_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, User edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/06_password_recovery_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Password Recovery view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/07_resend_confirmation_email_form.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, Resend Confirmation view"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/08_about_page.png'}" %> data-lightbox="sharpnotes" data-title="SharpNotes, about page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Settings section, e-Prescribe tab (local development)">
            <img src=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>KipuLabs Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/03.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Lab Interface section, Lab Test Requisitions index page"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/04.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Dashboard, Physician Review tab, Medical Test Orders index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/06.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, contacts main tab, Contacts index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/07.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Users section, Active users tab, active users index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/08.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Users section, Disabled users tab, disabled users index view"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/09.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Shift Main section, Ship Reports tab"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/10.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Schedules Main section, group session edit form"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/11.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Patient show view, lower part"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/12.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Patient show view, upper part"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/13.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, New JS alerts, modified by the alertify gem"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/14.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="Healthmatters repo, KipuLabs Module, Old JS alerts (default view on a Chrome Browser)"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Lodging Capacity Administration tab">
            <img src=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HostalWare</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/02_Alertas.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Alerts tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/03_Archivos.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Registrations tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/04_Ayuda.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, System Help file provided by the Installer"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/05_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, System Users tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/06_Registro_de_Huespedes.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Guests Registration tab"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/07_Reporte_de_Habitaciones_4to_piso.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, 4to Floor Rooms Report (previewed with Crystal Reports)"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/08_Reporte_de_habitaciones_en_PDF.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, 4to Floor Rooms Report (exported to pdf file)"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/09_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="HostalWare, Tracking system of all the actions performed on the App"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, root route (index)">
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>RoR Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/02.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, Gallery page"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/03.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, full view"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/04.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, Contact view"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/05.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, login page"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/06.png'}" %> data-lightbox="salon_havana" data-title="Salon Havana website, signup page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, root route (UI in Spanish)">
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Church in Miami</h4>
              <p>BuenasNuevas Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/02.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, login page (UI in Spanish)"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/03.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, sign up page (UI in Spanish)"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/05.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Users Administration section, User index view"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/06.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Images Gallery page"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/07.png'}" %> data-lightbox="buenasnuevas" data-title="Buenas Nuevas website, Videos Gallery page"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Users tab">
            <img src=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HC-CAP 2008</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/02.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/03.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose (Excellence Hospitals Package)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/04.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Busy Connection notification view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/05.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Design Diagram using Rational Rose (System Control Package)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/06.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New User view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/07.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New Training Course view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/08.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Tracking System of all the actions performed on the App"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/09.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Human Resources in Branch Schools tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/10.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Tracked Action, show view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/11.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Excellence forms tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/12.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Programmed Training Courses tab"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/13.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, New Excellence Hospital view"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/14.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Provincial Forms Report (previewed using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/15.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Provincial Forms Report (printing preview from the app, using Crystal Report)"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/16.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, System alert sample"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/17.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Logical Data Model using Rational Rose"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/18.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="HC-CAP 2008, Physical Data Model using Rational Rose"></a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //projects -->

<!-- references -->
<div class="experience" id="references">
  <div class="container">
    <h3 class="w3l-title">&nbsp;&nbsp;&nbsp;References&nbsp;&nbsp;</h3>
    <div class="col-md-12 abt-left">
      <div class="accordion">
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-4">
            <span>May 7<sup><small>th</small></sup>, 2020</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alvaro E. Escobar
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-4" class="accordion-section-content">
            <h6>Systems Engineer / Web Developer</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://www.linkedin.com/in/alvaroescobar/", class: "alvaro_linkedin", target: '_alvaro_linkedin' do %>
                  <strong>Linkedin Profile: </strong>https://www.linkedin.com/in/alvaroescobar/
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= mail_to "alvaroescobaronline@gmail.com", class: "alvaro_email", target: '_alvaro_email' do %>
                  <strong>Email: </strong>alvaroescobaronline@gmail.com
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <strong>Mobile: </strong>+1 (954) 600-6299
              </li>
            </ul>

            <br>

            <div style="text-indent: 0 !important; text-align: justify;">
              <p> To Whom It May Concern:</p>
              <br>
              <p>
                Reinier Garcia was employed in the position of Software Engineer at Kipu Health. During his tenure, his
                primary duties included architecting, analyzing and developing projects as they pertained to our
                web-based
                application.
              </p>
              <br>
              <p>
                During his tenure, Reinier’s development contributions tremendously impacted the success of our flagship
                application. His vast knowledge, research and results are not only worthy of merit, but exemplary.
                Reinier’s
                projects were meticulously architected and executed with flawless efficiency. Not only was Reinier
                successful in delivering these projects but more importantly they were elegantly documented, unit tested
                and
                delivered in a timely manner.
              </p>
              <br>
              <p>
                Reinier is respected both in a technical and professional manner not only by me, but by many of his
                colleagues. His dedication is unquestionable, his resolve undaunted and his results impeccable. He has
                been
                instrumental for us not only in the tasks of development, but his professional experiences and
                commanding
                of
                object oriented programming is where his contributions were benefited from most.
              </p>
              <br>
              <p>
                Reinier Garcia is an impressive individual. He will immediately become a quintessential asset to any
                company
                and it is for these reasons that I recommend him for any position within your organization. Please feel
                free
                to contact me at any time to if you would like to discuss further.
              </p>
              <br>
              <p>
                Sincerely,
              </p>
              <br>
              <p>
                -Alvaro Escobar
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-5">
            <span>April 2<sup><small>nd</small></sup>, 2020</span>&nbsp;&nbsp;&nbsp;&nbsp;Allen Penate
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-5" class="accordion-section-content">
            <h6>Senior Software Engineer</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://www.linkedin.com/in/allen-penate/", class: "allen_penate_linkedin", target: '_allen_penate_linkedin' do %>
                  <strong>Linkedin Profile: </strong>https://www.linkedin.com/in/allen-penate/
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= mail_to "allenson@gmail.com", class: "allen_penate_email", target: '_allen_penate_email' do %>
                  <strong>Email: </strong>allenson@gmail.com
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <strong>Mobile: </strong>+1 (786) 303-6210
              </li>
            </ul>

            <br>

            <div style="text-indent: 0 !important; text-align: justify;">
              <p>
                Reinier is a talented FullStack Senior Software Engineer. He joined our team a little over a year ago. I
                was amazed how in such short period, he managed himself in mastering a complex business and assimilate
                technologies and tools that were not part of his field of expertise at that time, to the point of being
                much more productive and efficient than other colleagues with more years of seniority in our field.
              </p>
              <br>
              <p>
                He fully masters all facets of Software Engineering, has a solid background of programming principles
                and patterns, is skilled and super productive in the way of writing code, capable of assimilating new
                technologies in record time.
              </p>
              <br>
              <p>
                One of his most outstanding qualities is the ability to be 100% focused on what needs to be done. He can
                accomplish any given task efficiently and in record speed. His tenacity, sacrifice, professionalism are
                a source of inspiration for me and the rest of the team members. It's been a joy and a real pleasure to
                work next to him all this time.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-6">
            <span>March 29<sup><small>th</small></sup>, 2020</span>Mario Enrique Sanchez
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-6" class="accordion-section-content">
            <h6>Senior Software Engineer & Architect. Tech lead</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://www.linkedin.com/in/mario-enrique", class: "mario_enrique_linkedin", target: '_mario_enrique_linkedin' do %>
                  <strong>Linkedin Profile: </strong>https://www.linkedin.com/in/mario-enrique/
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= mail_to "mario.enriquesm@gmail.com", class: "mario_enrique_email", target: '_mario_enrique_email' do %>
                  <strong>Email: </strong>mario.enriquesm@gmail.com
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <strong>Mobile: </strong>+1 (305) 834-0651
              </li>
            </ul>

            <br>

            <div style="text-indent: 0 !important; text-align: justify;">
              <p>
                Reinier is a self-motivated developer. His work ethic, computer science background, and eager learner
                aptitude make him one the most productive team members. He has been vital in maintaining and refactor
                existing solutions while we transition to newer projects. Kudos Reinier, for your loyalty and
                dedication.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-7">
            <span>March 29<sup><small>th</small></sup>, 2020</span>Omar Stumpfs
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-7" class="accordion-section-content">
            <h6>Ruby on Rails Developer</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://www.linkedin.com/in/omar-stumpfs-77128698/", class: "omar_stumpfs_linkedin", target: '_omar_stumpfs_linkedin' do %>
                  <strong>Linkedin Profile: </strong>https://www.linkedin.com/in/omar-stumpfs-77128698/
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= mail_to "ostumpfs@gmail.com", class: "omar_stumpfs_email", target: '_omar_stumpfs_email' do %>
                  <strong>Email: </strong>ostumpfs@gmail.com
                <% end %>
              </li>
            </ul>

            <br>

            <div style="text-indent: 0 !important; text-align: justify;">
              <p>
                Reinier is an outstanding developer and colleague. Although we worked in different groups I have seen
                him being hard-working and very ambitious, he is very skilled and eager to solve problems in the best
                way possible; he is a pleasure to work with.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-8">
            <span>March 29<sup><small>th</small></sup>, 2020</span>Angel Hueso
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-8" class="accordion-section-content">
            <h6>Software Engineer at Kipu Systems</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "https://www.linkedin.com/in/angel-huezo-9b96b9/", class: "angel_hueso_linkedin", target: '_angel_hueso_linkedin' do %>
                  <strong>Linkedin Profile: </strong>https://www.linkedin.com/in/angel-huezo-9b96b9/
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= mail_to "angel.huezo@kipusystems.com", class: "angel_hueso_email", target: '_angel_hueso_email' do %>
                  <strong>Email: </strong>angel.huezo@kipusystems.com
                <% end %>
              </li>

              <li>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <strong>Mobile: </strong>+1 (305) 776-5964
              </li>
            </ul>

            <br>

            <div style="text-indent: 0 !important; text-align: justify;">
              <p>
                Reinier and I work at Kipu Health at present time. We work in different teams but we report to the same
                team leader.
              </p>
              <br>
              <p>
                I’m always impressed with Reinier’s ability to write high quality code in a very short amount of time.
                His productivity is amazing and his work ethic is beyond compare. From the moment he sits down at his
                desk, he’s a non stop code-writing machine!
              </p>
              <br>
              <p>
                Working with Reinier is a real pleasure. No task is too complex or too large for him to tackle. His code
                is smart, efficient and very effective.
              </p>
              <br>
              <p>
                I look forward to continue working with him in the future.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //references -->

<!-- samples -->
<div class="portfolio" id="samples">
  <div class="container">
    <h3 class="w3l-title">&nbsp;&nbsp;&nbsp;Samples&nbsp;&nbsp;&nbsp;</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://sharp-notes.herokuapp.com/", class: "sharpnotes", target: '_sharpnotes' do %>
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>SharpNotes</h4>
              <p>Sample RoR Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to 'https://salon-havana.herokuapp.com/', class: "salonhavana", target: '_salonhavana' do %>
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>Sample RoR Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://buenasnuevas.herokuapp.com/", class: "buenasnuevas", target: '_buenasnuevas' do %>
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Church BuenasNuevas</h4>
              <p>Sample Laravel Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://udemy-reactjs-burger-builder.herokuapp.com/", class: "burgerbuilder", target: '_burgerbuilder' do %>
            <img src=<%= "#{asset_path 'my_projects/13_BurgerBuilder/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Burger Builder</h4>
              <p>Sample React.js App</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //samples -->

<!-- introduce -->
<div class="confi-w3l">
  <div class="container">
    <h3>Hello....</h3>
    <p>It's my pleasure to introduce my self..well, I'm Reinier Garcia.</p>
    <p>
      I am a Highly focused and reliable mid level Full-Stack Web Developer, with an excellent learning capacity and a
      high dedication to work. Competent in handling multiple tasks and concerns with the utmost professionalism.
      Able to work independently with little or no supervision, or in coordination with supervisors and other coworkers.
    </p>
    <p>
      I am a Mid-level programmer with a good knowledge of front-end techniques and a complete passion about the
      back-end. I love structure and order and I also stand for quality. I love spending time on fixing little details
      and optimizing web apps. I enjoy working in a team. As the saying goes: ‘two heads are better than one’.
    </p>
  </div>
</div>
<!-- //introduce -->

<!-- //contact -->
<div class="address" id="contact">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Contact Me&nbsp;</h3>
    <div class="address-row">
      <div class="col-md-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
        <div class="address-grid">
          <h4 class="wow fadeIndown animated" data-wow-delay=".5s">Get In Touch</h4>
          <%= form_with(model: contact, local: true) do |form| %>
            <%= hidden_field_tag :return_to, return_to %>

            <%= form.text_field :name, placeholder: 'Name', autofocus: false %>
            <%= form.email_field :email, placeholder: 'Email', autofocus: false %>
            <%= form.text_field :subject, placeholder: 'Subject', autofocus: false %>
            <%= form.text_area :message, placeholder: 'Message', autofocus: false, disabled: false %>

            <div class="row">
              <div class="col-md-4">
                <div style="margin-top: 14px;">
                  <%= recaptcha_tags %>
                </div>
              </div>
              <div class="col-md-3">

              </div>

              <div class="col-md-4 submit-button">
                <%= form.submit "SEND", name: "send" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="col-md-6 address-right">
        <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
          <h4>Location</h4>
          <p>Miami, FL 33135, United States.</p>
          <p style="color: #F68415; font-size: 0.8em;">
            Open to working remotely or in the five closest cities: Miami, Coral Gables, Hialeah, Miami Beach or Doral.
          </p>
        </div>

        <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".7s">
          <h4>Phone </h4>
          <p>+1 (786) 458-2150</p>
          <p>Please let me know before, via email, the day & time of your call, as well as your calling phone
            number.
          </p>
          <p style="color: #F68415; font-size: 0.8em;">
            * I don't receive unknown or unexpected phone calls & messages.
          </p>
        </div>

        <div class="address-info agileits-info wow fadeInRight animated" da ta-wow-delay=".6s">
          <h4>Mail</h4>
          <p><a href="mailto:reymillenium@gmail.com"> reymillenium@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//contact-->