<%
  contact_model = Contact
  contact = local_assigns.fetch(:contact, Contact.new)
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  skills = @skills
  references = @references
%>

<!-- about -->
<%= render partial: "about" %>
<!-- //about -->

<!-- skills -->
<%= render partial: "skills", locals: { skills: skills } %>
<!-- //skills -->

<!-- services -->
<%= render partial: "services" %>
<!-- //services -->

<!-- interests -->
<%= render partial: "interests" %>
<!-- //interests -->

<!-- experience -->
<%= render partial: "experience" %>
<!-- //experience -->

<!-- education -->
<%= render partial: "education" %>
<!-- //education -->

<!-- projects -->
<%= render partial: "projects" %>
<!-- //projects -->

<!-- references -->
<%= render partial: "references", locals: { references: references} %>
<!-- //references -->

<!-- samples -->
<div class="portfolio" id="samples">
  <div class="container">
    <h3 class="w3l-title">&nbsp;&nbsp;&nbsp;Samples&nbsp;&nbsp;&nbsp;</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://sharp-notes.herokuapp.com/", class: "sharpnotes", target: '_sharpnotes' do %>
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>SharpNotes</h4>
              <p>Sample RoR Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to 'https://salon-havana.herokuapp.com/', class: "salonhavana", target: '_salonhavana' do %>
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>Sample RoR Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://buenasnuevas.herokuapp.com/", class: "buenasnuevas", target: '_buenasnuevas' do %>
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Church BuenasNuevas</h4>
              <p>Sample Laravel Website</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <%= link_to "https://udemy-reactjs-burger-builder.herokuapp.com/", class: "burgerbuilder", target: '_burgerbuilder' do %>
            <img src=<%= "#{asset_path 'my_projects/13_BurgerBuilder/01.png'}" %> class="img-responsive" alt=" " style="width: 255px; height: 170px;">
            <div class="overlay">
              <h4>Burger Builder</h4>
              <p>Sample React.js App</p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //samples -->

<!-- introduce -->
<div class="confi-w3l">
  <div class="container">
    <h3>Hello....</h3>
    <p>It's my pleasure to introduce my self..well, I'm Reinier Garcia.</p>
    <p>
      I am a Highly focused and reliable mid level Full-Stack Web Developer, with an excellent learning capacity and a
      high dedication to work. Competent in handling multiple tasks and concerns with the utmost professionalism.
      Able to work independently with little or no supervision, or in coordination with supervisors and other coworkers.
    </p>
    <p>
      I am a Mid-level programmer with a good knowledge of front-end techniques and a complete passion about the
      back-end. I love structure and order and I also stand for quality. I love spending time on fixing little details
      and optimizing web apps. I enjoy working in a team. As the saying goes: ‘two heads are better than one’.
    </p>
  </div>
</div>
<!-- //introduce -->

<!-- //contact -->
<div class="address" id="contact">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Contact Me&nbsp;</h3>
    <div class="address-row">
      <div class="col-md-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
        <div class="address-grid">
          <h4 class="wow fadeIndown animated" data-wow-delay=".5s">Get In Touch</h4>
          <%= form_with(model: contact, local: true) do |form| %>
            <%= hidden_field_tag :return_to, return_to %>

            <%= form.text_field :name, placeholder: 'Name', autofocus: false %>
            <%= form.email_field :email, placeholder: 'Email', autofocus: false %>
            <%= form.text_field :subject, placeholder: 'Subject', autofocus: false %>
            <%= form.text_area :message, placeholder: 'Message', autofocus: false, disabled: false %>

            <div class="row">
              <div class="col-md-4">
                <div style="margin-top: 14px;">
                  <%= recaptcha_tags %>
                </div>
              </div>
              <div class="col-md-3">

              </div>

              <div class="col-md-4 submit-button">
                <%= form.submit "SEND", name: "send" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="col-md-6 address-right">
        <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
          <h4>Location</h4>
          <p>Miami, FL 33135, United States.</p>
          <p style="color: #F68415; font-size: 0.8em;">
            Open to working remotely or in the five closest cities: Miami, Coral Gables, Hialeah, Miami Beach or Doral.
          </p>
        </div>

        <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".7s">
          <h4>Phone </h4>
          <p>+1 (786) 458-2150</p>
          <p>Please let me know before, via email, the day & time of your call, as well as your calling phone
            number.
          </p>
          <p style="color: #F68415; font-size: 0.8em;">
            * I don't receive unknown or unexpected phone calls & messages.
          </p>
        </div>

        <div class="address-info agileits-info wow fadeInRight animated" da ta-wow-delay=".6s">
          <h4>Mail</h4>
          <p><a href="mailto:reymillenium@gmail.com"> reymillenium@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//contact-->