<%
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  reference = local_assigns.fetch(:reference)

  current_job_title_truncate_length = 24
  linkedin_profile_truncate_length = 24
  email_truncate_length = 24
%>

<tr>
  <td>
    <div class="nowrap">
      <%= link_to reference.full_name, reference_path(reference) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= truncate(reference.current_job_title, length: current_job_title_truncate_length) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= truncate(reference.linkedin_profile, length: linkedin_profile_truncate_length) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= reference.mobile_number %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= truncate(reference.email, length: email_truncate_length) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= if_applicable(reference.pertinent_date.present? ? l(reference.pertinent_date) : nil, titleize: false) %>
    </div>
  </td>

  <td>
    <div class="nowrap">
      <%= if_applicable(reference.created_at.present? ? l(reference.created_at) : nil, titleize: false) %>
    </div>
  </td>

  <td class="nowrap">
    <%#= link_to download_reference_as_word_reference_path(reference), class: "btn btn-sm", download: reference.title, data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.download') do %>
    <!--      <i class="fa fa-download fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%#= link_to clone_reference_path(reference), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.clone') do %>
    <!--      <i class="fa fa-clone fa-fw" aria-hidden="true"></i>-->
    <%# end %>

    <%= link_to edit_reference_path(reference, return_to: references_path), class: "btn btn-sm", data: { toggle: 'tooltip', placement: 'top' }, title: t('actions.edit') do %>
      <i class="fa fa-pencil-alt fa-fw" aria-hidden="true"></i>
    <% end %>

    <%= link_to reference_path(reference), method: :delete, class: "btn btn-sm", data: { confirm: t("actions.confirm"), toggle: 'tooltip', placement: 'top', disable_with: t('actions.deleting.short') }, title: t('actions.delete') do %>
      <i class="fa fa-times fa-lg fa-fw" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>