<%
  return_to = local_assigns.fetch(:return_to, request.fullpath)
  references = local_assigns.fetch(:references, [])
  references_scope_meta ||= nil
  reference_model = Reference
%>

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
      <thead>
      <tr>
        <th>
          <%= sort_link(references_scope_meta, :full_name, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(references_scope_meta, :current_job_title, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(references_scope_meta, :linkedin_profile, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(references_scope_meta, :mobile_number, { default_order: :asc }) %>
        </th>

        <th>
          <%= sort_link(references_scope_meta, :created_at, { default_order: :asc }) %>
        </th>

        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% if references.present? %>
        <%= render partial: "references/reference_row", collection: references, as: :reference, locals: { return_to: return_to } %>
      <% else %>
        <tr>
          <td colspan="7" class="text-center">
            <i class="fa fa-info-circle"></i>
            <i><%= t('errors.resources.not_found', resource: humanize_model(reference_model, pluralize: true, titleize: false)) %></i>
          </td>
        </tr>
      <% end %>
      </tbody>

    </table>
  </div>
</div>