<!DOCTYPE html>
<html>
<head>
  <title>Reinier Garcia: Ruby on Rails Developer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta property="og:image" content="<%= asset_path 'reymillenium_logo_1024x1024.png' %>"/>
  <link rel="shortcut icon" href="<%= asset_path 'ruby-on-rails-logo.png' %>"/>

  <%= stylesheet_link_tag 'admin_layout' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <img class="ml-4" style="width: 41px; height: 43px;" src=<%= "#{asset_path 'ruby-on-rails-logo.png'}" %>>
  <%= link_to contacts_path, class: 'navbar-brand' do %>
    <span style="color: #0369D9; font-weight: bold; font-family: 'Luminari' !important;">Rey</span><span style="color: #bc3939; font-weight: bold; font-family: 'Luminari' !important;">Millenium</span>
  <% end %>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
  </button>
  <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
  </div>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item' %>
          <%= link_to "Login", new_user_session_path, class: 'dropdown-item' %>
        <% end %>
      </div>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Public</div>
          <%= link_to pages_path, class: 'nav-link' do %>
            <div class="sb-nav-link-icon"><i class="fas fa-briefcase"></i></div>
            Portfolio
          <% end %>

          <div class="sb-sidenav-menu-heading">Dashboard</div>
          <%= link_to contacts_path, class: 'nav-link' do %>
            <div class="sb-nav-link-icon"><i class="fas fa-paper-plane"></i></div>
            Messages
          <% end %>

          <%= link_to references_path, class: 'nav-link' do %>
            <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
            References
          <% end %>

          <%= link_to skills_path, class: 'nav-link' do %>
            <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
            Skills
          <% end %>

          <%= link_to samples_path, class: 'nav-link' do %>
            <div class="sb-nav-link-icon"><i class="fas fa-link"></i></div>
            Samples
          <% end %>

          <%= link_to auditoriums_path, class: 'nav-link' do %>
            <div class="sb-nav-link-icon"><i class="fas fa-photo-video"></i></div>
            <%= t("auditoriums.title") %>
          <% end %>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        <% if user_signed_in? %>
          <div><%= current_user.email %></div>
        <% else %>
          Start Bootstrap
        <% end %>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <%= render("shared/flash_messages") %>
        <%= yield %>
      </div>
    </main>

    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">&copy; <%= Time.now.year.to_s %>. All rights reserved | Developed by
            <%= link_to "https://www.linkedin.com/in/reymillenium/", class: "linkedin", target: '_linkedin' do %>
              Reinier Garcia
            <% end %>
          </div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!--<script src="app/javascript/packs/contacts/demo/chart-area-demo.js"></script>-->
<!--<script src="app/javascript/packs/contacts/demo/chart-bar-demo.js"></script>-->
<!--<script src="app/javascript/packs/contacts/demo/chart-pie-demo.js"></script>-->
<!--<script src="app/javascript/packs/contacts/demo/datatables-demo.js"></script>-->
<%= javascript_pack_tag 'contacts/scripts' %>
</body>
</html>
