<!DOCTYPE html>
<html>
  <head>
    <title>Reinier Garcia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="<%= asset_path 'ruby-on-rails-logo.png' %>"/>
    <link rel="shortcut icon" href="<%= asset_path 'ruby-on-rails-logo.png' %>"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
