<!DOCTYPE html>
<html>
<head>
  <title>Reinier Garcia: Ruby on Rails Developer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta property="og:image" content="<%= asset_path 'ruby-on-rails-logo.png' %>"/>
  <link rel="shortcut icon" href="<%= asset_path 'ruby-on-rails-logo.png' %>"/>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- banner -->
<div id="home" class="banner">
  <div class="banner-agileinfo">
    <!-- header -->
    <div class="header">
      <div class="container">
        <div class="logo">
          <h1><a href="index.html">Meet the Developer</a></h1>
        </div>
        <div class="menu">
          <a href="" id="menuToggle"> <span class="navClosed"></span> </a>
          <nav>
            <a href="#home" class="active scroll">Home</a>
            <a href="#about" class="scroll">About Me</a>
            <a href="#skills" class="scroll">My Skills</a>
            <a href="#services" class="scroll">My Services</a>
            <a href="#experience" class="scroll">Experience</a>
            <a href="#education" class="scroll">My Education</a>
            <a href="#projects" class="scroll">My Projects</a>
            <a href="#contact" class="scroll">Contact Me</a>
          </nav>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //header -->
    <div class="banner-main">
      <div class="container">
        <div class="col-md-5 banner-left">
          <!--          <img src=<%#= "#{asset_path 'i1.png'}" %> alt="">-->
          <img class="float-left" src=<%= "#{asset_path 'banner_reinier_portrait.png'}" %> alt="">
        </div>
        <div class="col-md-7 banner-text">
          <p>Welcome</p>
          <h2><span>I'm Reinier Garcia</span>Ruby on Rails Developer</h2>
          <div class="w3agile_hire_right">
            <a href="#contact" class="wthree-more w3more1 nina scroll" data-text="hire me">
              <span>h</span><span>i</span><span>r</span><span>e</span> <span>m</span><span>e</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //banner -->

<%= yield %>

<!-- about -->
<div class="about" id="about">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Self&nbsp;</h3>
    <div class="about-w3l-agileifo-grid">
      <div class="col-md-7 agile-w3l-ab">
        <ul class="rslides" id="slider">
          <li>
            <div class="agile-w3l-ab-img">
              <img src=<%= "#{asset_path 'a1.jpg'}" %> class="img-responsive" alt="Homey Designs">
            </div>
          </li>
          <li>
            <div class="agile-w3l-ab-img">
              <img src=<%= "#{asset_path 'a2.jpg'}" %> class="img-responsive" alt="Homey Designs">
            </div>
          </li>
          <li>
            <div class="agile-w3l-ab-img">
              <img src=<%= "#{asset_path 'a3.jpg'}" %> class="img-responsive" alt="Homey Designs">
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-5 w3ls-agile-left">
        <div class="w3ls-agile-left-info">
          <h4>Name</h4>
          <p>Reinier Garcia</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Experience</h4>
          <p><%= descriptive_diff(Time.now, "2019-01-02".to_time) %> (in the United States)</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Address</h4>
          <p> 101 SW 36th CT, Unit 807, Miami, FL 33135</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Phone Number</h4>
          <p>+1 (786) 458-2150</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Email Address</h4>
          <p><a href="mailto:reymillenium@gmail.com">reymillenium@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //about -->

<!-- stats -->
<div class="stats wthree-sub" id="skills">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Skills</h3>
    <!-- Skill Bar Column -->
    <div class="col-sm-4 stats_grid_right">
      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #f1703a;"><small>OOP</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="85">
        <span class="skillbar-title" style="background: #2980b9;"><small>Ruby&nbsp;on&nbsp;Rails</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="85">
        <span class="skillbar-title" style="background: #a0d034;"><small>Ruby</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #f1703a;"><small>RSpec</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="40">
        <span class="skillbar-title" style="background: #2980b9;"><small>PHP7</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="50">
        <span class="skillbar-title" style="background: #a0d034;"><small>Laravel</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #f1703a;"><small>XAMPP</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="10">
        <span class="skillbar-title" style="background: #2980b9;"><small>Java</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #a0d034;"><small>Object&nbsp;Pascal</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #f1703a;"><small>PostgreSQL</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="75">
        <span class="skillbar-title" style="background: #2980b9;"><small>MySQL</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="75">
        <span class="skillbar-title" style="background: #a0d034;"><small>MariaDB</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="75">
        <span class="skillbar-title" style="background: #f1703a;"><small>SQL</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="5">
        <span class="skillbar-title" style="background: #2980b9;"><small>Swift</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="76">
        <span class="skillbar-title" style="background: #a0d034;"><small>To add</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->
    </div>
    <!-- /Skill Bar Column -->


    <!-- Skill Bar Column -->
    <div class="col-sm-4 stats_grid_right">
      <div class="skillbar" data-percent="25">
        <span class="skillbar-title" style="background: #f1703a;"><small>Redis</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="25">
        <span class="skillbar-title" style="background: #2980b9;"><small>Sidekiq</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="95">
        <span class="skillbar-title" style="background: #a0d034;"><small>MVC&nbsp;Pattern</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <!--        <span class="skillbar-title" style="background: #f1703a;"><small>Back-end&nbsp;Web&nbsp;Development</small></span>-->
        <!--        <span class="skillbar-title" style="background: #f1703a;"><small>Back&#8211;end&nbsp;Web&nbsp;Development</small></span>-->
        <span class="skillbar-title" style="background: #f1703a;"><small>Back&nbsp;End&nbsp;Development</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="55">
        <span class="skillbar-title" style="background: #2980b9;"><small>JavaScript</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #a0d034;"><small>jQuery</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #f1703a;"><small>CSS3</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #2980b9;"><small>SASS&nbsp;/&nbsp;SCSS</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="60">
        <span class="skillbar-title" style="background: #a0d034;"><small>Bootstrap</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #f1703a;"><small>HTML&nbsp;5</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="50">
        <span class="skillbar-title" style="background: #2980b9;"><small>Front&nbsp;End&nbsp;Development</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="55">
        <span class="skillbar-title" style="background: #a0d034;"><small>Adobe&nbsp;Flash</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="10">
        <span class="skillbar-title" style="background: #f1703a;"><small>Photoshop</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="5">
        <span class="skillbar-title" style="background: #2980b9;"><small>React.js</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="40">
        <span class="skillbar-title" style="background: #a0d034;"><small>Heroku</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->
    </div>
    <!-- /Skill Bar Column -->

    <!-- Skill Bar Column -->
    <div class="col-sm-4 stats_grid_right">
      <div class="skillbar" data-percent="55">
        <span class="skillbar-title" style="background: #f1703a;"><small>Delphi</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #2980b9;"><small>Confluence</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #a0d034;"><small>Agile&nbsp;Methodologies</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #f1703a;"><small>Scrum</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #2980b9;"><small>Kanban</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="90">
        <span class="skillbar-title" style="background: #a0d034;"><small>Git</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #f1703a;"><small>Github</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #2980b9;"><small>Bitbucket</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="80">
        <span class="skillbar-title" style="background: #a0d034;"><small>UML&nbsp;Modeling</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #f1703a;"><small>Sentry</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>s
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #2980b9;"><small>Jira</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #a0d034;"><small>Rational&nbsp;Unified&nbsp;Process</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="70">
        <span class="skillbar-title" style="background: #f1703a;"><small>Rational&nbsp;Rose</small></span>
        <p class="skillbar-bar" style="background: #f88c5e;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="10">
        <span class="skillbar-title" style="background: #2980b9;"><small>WordPress</small></span>
        <p class="skillbar-bar" style="background: #3498db;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->

      <div class="skillbar" data-percent="100">
        <span class="skillbar-title" style="background: #a0d034;"><small>To&nbsp;add</small></span>
        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
        <span class="skill-bar-percent"></span>
      </div>
      <!-- End Skill Bar -->
    </div>
    <!-- /Skill Bar Column-->
    <div class="clearfix"></div>
  </div>
</div>
<!-- //stats -->

<!-- services -->
<div class="services" id="services">
  <div class="container">
    <h3 class="w3l-title">My Services</h3>
    <div class="box2">
      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fas fa-laptop-code" aria-hidden="true"></i>
            <div class="mask">
              <i class="fas fa-laptop-code" aria-hidden="true"></i>
              <h4>Web Development</h4>
              <p>
                Intuitive, easy to use & feature rich Ruby on Rails web applications. Smart & effective solutions for
                your business.
              </p>
            </div>
            <h3>Web Development</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fas fa-laptop-medical" aria-hidden="true"></i>
            <div class="mask">
              <i class="fas fa-laptop-medical" aria-hidden="true"></i>
              <h4>Rspec Testing</h4>
              <p>Tests/Specs is a safety net, preventing bugs in production, forcing better code & encouraging
                developer confidence when changing existing code bases.
              </p>
            </div>
            <h3>Rspec Testing</h3>
          </div>
        </a>
      </div>

      <div class="col-sm-4 s-1">
        <a href="#contact" class="scroll">
          <div class="view view-fifth">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <div class="mask">
              <i class="fa fa-cog" aria-hidden="true"></i>
              <!-- <i class="fas fa-laptop-house" aria-hidden="true"></i>-->
              <h4>Software Engineering</h4>
              <p>
                I can analyze and gather the user requirements and then designing, build, and test software applications
                which will satisfy those requirements.
              </p>
            </div>
            <h3>Software Engineering</h3>
          </div>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //services -->

<!-- interests -->
<div class="intra-w3l">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Interests&nbsp;</h3>
    <div class="agile-w3l-in">
      <i class="fa fa-images" aria-hidden="true"></i>
      <p>Graphic Editing</p>
    </div>
    <div class="agile-w3l-in">
      <i class="fab fa-app-store-ios" aria-hidden="true"></i>
      <p>IOS Development</p>
    </div>
    <div class="agile-w3l-in">
      <i class="fa fa-book" aria-hidden="true"></i>
      <p>Reading</p>
    </div>
    <div class="agile-w3l-in w3l-intra-re">
      <i class="fa fa-gamepad" aria-hidden="true"></i>
      <p>GAMING</p>
    </div>
    <div class="agile-w3l-in w3l-intra-re">
      <i class="fa fa-music" aria-hidden="true"></i>
      <p>MUSIC</p>
    </div>

  </div>
</div>
<!-- //interests -->

<!-- experience -->
<div class="services-w3l" id="experience">
  <div class="container">
    <h3 class="w3l-title">Work Experience</h3>
    <div class="wthree_latest_albums_grids">
      <div class="cntl"><span class="cntl-bar cntl-center"> <span class="cntl-bar-fill"></span> </span>
        <div class="cntl-states">
          <div class="cntl-state">
            <div class="cntl-content">
              <h4>05/2020 - Present</h4>
              <p>Ruby on Rails Developer</p>
              <br>
              <div style="text-align: justify;">
                Designed and coded from scratch the CuseumPkpass Module with a full CRUD plus cloning and
                exporting/downloading features. This fully customizable and extensible Module is in charge of the whole
                generation process of custom made ".pkpass" files used by the IOS Wallet app, including its locations
                and beacons. All according to the official Apple Passbook Guidelines. Also fixed bugs, as well as
                optimized and added new features in two different repositories of the company.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Back-end development using Ruby on Rails, with MySQL, PostgreSQL and Redis + Sidekiq.</li>
                  <li>Front-end development (HAML & ERB), using JavaScript, jQuery, CSS3 & Bootstrap.</li>
                  <li>Software Engineering applying Agile Software Development Methodology (Kanban).</li>
                  <li>Daily testing of the source code with Rspec and control versioning using Git.</li>
                  <li>Documented my projects using Jira and Confluence.</li>
                  <li>Application monitoring and error tracking using Sentry.</li>
                </ul>
              </div>
            </div>
            <div class="cntl-image">
              <img src=<%= "#{asset_path 'w1.jpg'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>Cuseum, Inc. Boston, MA (remote)</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">01</div>
          </div>

          <!-- The line break must be in pairs-->
          <br>
          <br>
          <br>
          <br>

          <div class="cntl-state">
            <div class="cntl-content">
              <h4>01/2019 - 05/2020</h4>
              <p>Ruby on Rails Developer</p>
              <br>
              <div style="text-align: justify;">
                Member of the Data & Interoperability Development Team (Data-IO). Improved and Optimized SQL performance
                and database access related to the EMR backend logic (complex modules like KipuLabs, Outcomes
                Measurement & Flags). Implemented and optimized Rspec tests on daily basis. Implemented & refactored
                Views structure and javascript behavior associated to those three modules.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Back-end development using Ruby on Rails with PostgreSQL & Redis + Sidekiq.</li>
                  <li>Front-end development (ERB) using JavaScript, jQuery, CSS3 & Bootstrap.</li>
                  <li>Software Engineering applying Agile Software Development Methodology (SCRUM).</li>
                  <li>Daily testing of the source code with Rspec and control versioning using Git.</li>
                  <li>Documented my projects using Jira and Confluence.</li>
                </ul>
              </div>
              <br>
              <div>
                * MAT Project > Flags Module:
              </div>
              <div style="text-align: justify;">
                Implemented the Flags Module inside the Medication Assisted Treatment Project. This module alerts the
                MAT staff with advanced reporting about certain conditions and pending actions, as well as to determine
                and suggest the processing on the patient queue automatically. It also provides a visual indicator to
                the user to address issues that need to be resolved with the patient, prior to dosing.
              </div>
              <br>
              <div>
                * Outcomes Measurement Module:
              </div>
              <div style="text-align: justify;">
                Extended and optimized the Outcomes Measurement module with advanced reporting and configurable
                scheduler for different EMR locations. This tool integrates different assessment driven methodologies to
                determine the patient progress during treatment. The architecture is event-driven and combines an
                assessment scheduler, a delivery service, and features to evaluate, analyze and report the results.
              </div>
              <br>
              <div>
                * KipuLabs Module:
              </div>
              <div>
                Perfected, expanded and maintained the already existing Kipu Labs Integration Project (KipuLabs Module).
                Updated the gems used in the implementation of a reactive communication protocol to exchange data
                between the EMR and the new Labs Platform service. Implemented the Medical Test Orders and the Potential
                Enrollments Report Sections, both with advanced reporting.
              </div>
            </div>
            <div class="cntl-image w3_cntl_image">
              <img src=<%= "#{asset_path 'w2.jpg'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>Kipu Health, LLC. Coral Gables, FL</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">02</div>
          </div>

          <!-- The line break must be in pairs-->
          <br>
          <br>
          <br>
          <br>

          <div class="cntl-state">
            <div class="cntl-content">
              <h4>08/2015 - 01/2019</h4>
              <p>Freelance Web Developer (Apprenticeship)</p>
              <br>
              <div style="text-align: justify;">
                Designed and implemented Laravel and Ruby on Rails free websites for churches. It was a pro bono
                activity, on my free time, while I was learning how to code Web apps using MVC frameworks.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Back-end development using Ruby on Rails or Laravel + XAMPP, with MariaDB, MySQL and PostgreSQL.
                  </li>
                  <li>Front-end development (ERB or Blade), using JavaScript, jQuery, CSS3 & Bootstrap.</li>
                  <li>Software Engineering applying Agile Software Development Methodology (Scrum).</li>
                  <li>Daily testing of the source code with Rspec and control versioning using Git.</li>
                  <li>Web deployment using IPage and Heroku.</li>
                </ul>
              </div>
            </div>
            <div class="cntl-image w3_cntl_image">
              <img src=<%= "#{asset_path 'w3.jpg'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>SleekWare Project. Miami, FL</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">03</div>
          </div>

          <!-- The line break must be in pairs-->
          <br>
          <br>
          <br>
          <br>

          <div class="cntl-state">
            <div class="cntl-content">
              <h4>10/2007 - 08/2015</h4>
              <p>Software Developer</p>
              <br>
              <div style="text-align: justify;">
                Designed and implemented client-server Java & Delphi desktop apps for the institution. Taught software
                courses to students and provided technical training to coworkers. Maintained the Institute’s web portal
                and others CMS intranet websites. Leaded on the institution the Open Source “Galeno Media” Project, a
                cuban software to publish medical courses.
              </div>
              <br>
              <div>
                In summary:
              </div>
              <div>
                <ul>
                  <li>Object Oriented Programming using Java (NetBeans) & Object Pascal (Delphi), with Microsoft SQL
                    Server.
                  </li>
                  <li>Front-end development, using JavaScript, jQuery, CSS3, HTML & Bootstrap.</li>
                  <li>Software Engineering applying Unified Modeling Language (UML) with Rational Unified Process (RUP)
                    (Rational Rose).
                  </li>
                </ul>
              </div>
            </div>
            <div class="cntl-image w3_cntl_image">
              <img src=<%= "#{asset_path 'w4.jpg'}" %> class="img-responsive" alt=" ">
              <div class="w3ls_cntl_image_pos">
                <p>CENAPET. Havana, Cuba</p>
              </div>
            </div>
            <div class="cntl-icon cntl-center">04</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //experience -->

<!-- education -->
<div class="experience" id="education">
  <div class="container">
    <h3 class="w3l-title">&nbsp;My Education&nbsp;</h3>
    <div class="col-md-12 abt-left">
      <div class="accordion">
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-1">
            <span>2015 - <%= Time.now.year.to_s %></span>Udemy.com
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-1" class="accordion-section-content">
            <h6>Training Courses OnLine</h6>
            <ul>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <a href="#">React.js training course</a>
              </li>
              <li>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <a href="#">Swift 5 with XCode</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-2">
            <span>2002 - 2007</span> Higher Polytechnic Institute “J. A. Echeverria” (CUJAE)
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-2" class="accordion-section-content">
            <h6>B. S. Computer Science</h6>
            <ul>
              <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">Quisque rhoncus at ante
                nec malesuada</a></li>
              <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">accusantium
                doloremque</a></li>
              <li><span class="glyphicon glyphicon-star" aria-hidden="true"></span><a href="#">doloremque lauda loigfgf
                ntium</a></li>
            </ul>
          </div>
        </div>
        <div class="accordion-section">
          <h5><a class="accordion-section-title" href="#accordion-3">
            <span>1995 - 1998</span> Vocational High School Institute of Exact Sciences "V. I. Lenin"
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a></h5>
          <div id="accordion-3" class="accordion-section-content">
            <h6>Emphasis on Physics</h6>
            <ul>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">voluptatem accusantium</a>
              </li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">Integer sodales, odio sit
                amet viverra sollicitudin</a></li>
              <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href="#">onec pulvinar vestibulum
                sem quis porttitor</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //education -->

<!-- projects -->
<div class="portfolio" id="projects">
  <div class="container">
    <h3 class="w3l-title">My Projects</h3>
    <div class="agileits_portfolio_grids">
      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 1.0">
            <img src=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>spotzer-cms</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/02.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/03.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/04.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/05.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/06.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/07.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/08.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/09.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/10.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/11.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/12.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/13.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/14.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/15.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/16.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/17.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/18.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/19.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/20.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/21.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/22.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/01_CuseumPkpass_Module/23.png'}" %> data-lightbox="cuseum_pkpass" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption 01">
            <img src=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Flags Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/02.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/03.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/04.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/05.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/06.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/07.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/08.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/09.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/10.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/11.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/12.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/13.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/14.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/15.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/16.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/17.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/18.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/19.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/20.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/05_KipuHealth_Flags/21.png'}" %> data-lightbox="kipuhealth_flags" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/09_SimOptic_2008/01_Interfaz_Principal_English.bmp'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>SimOptic</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/02_Blog_Oficial_SimOptic_2008.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/03_Configuracion_de_Visor.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/04_Ayuda_Acceso_desde_Sistema.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/05_Interfaz_Principal_Spanish.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/06_Negativo.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/07_Reporte_Formato_PDF.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/08_Reporte_Vista_Previa.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/09_SimOptic_2008/09_SimOptic_Instalado.bmp'}" %> data-lightbox="cenapet_simoptic" data-title="My caption one 2.0"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption 01">
            <img src=<%= "#{asset_path 'my_projects/02_Web_App/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Cuseum, Inc.</h4>
              <p>web-app</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/02.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/03.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/04.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/05.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/06.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/07.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/08.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/09.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/10.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/11.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/12.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/02_Web_App/13.png'}" %> data-lightbox="cuseum_web_app" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>Outcomes M. Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/02.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/03.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/04.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/05.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/06.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/07.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/08.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/06_KipuHealth_Outcomes/09.png'}" %> data-lightbox="kipuhealth_outcomes" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/10_BookLogger/01_Cuentas_de_Usuario.bmp'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>BookLogger</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/02_Ayuda_del_sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/03_Modelo_1164-01.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/04_Modificar_Planilla.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/05_Reporte_de_todas_las_planillas_en_PDF.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/06_Reporte_de_todas_las_planillas.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/10_BookLogger/07_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_booklogger" data-title="My caption one 2.0"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> data-lightbox="sharpnotes" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/03_SharpNotes/01_login.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Sample Website</h4>
              <p>SharpNotes</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/02_notes_index_page.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/03_new_note_page.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/04_create_account_form.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/05_edit_account_form.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/06_password_recovery_form.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/07_resend_confirmation_email_form.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/03_SharpNotes/08_about_page.png'}" %> data-lightbox="sharpnotes" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Kipu Health</h4>
              <p>KipuLabs Module</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/02.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/03.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/04.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/05.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/06.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/07.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/08.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/09.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/10.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/11.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/12.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/13.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/07_KipuHealth_KipuLabs/14.png'}" %> data-lightbox="kipuhealth_kipulabs" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/11_HostalWare/01_Admin_de_Capacidades.bmp'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HostalWare</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/02_Alertas.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/03_Archivos.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/04_Ayuda.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/05_Cuentas_de_Usuario.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/06_Registro_de_Huéspedes.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/07_Reporte_de_Habitaciones_4to_piso.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/08_Reporte_de_habitaciones_en_PDF.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/11_HostalWare/09_Trazas_del_Sistema.bmp'}" %> data-lightbox="cenapet_hostalware" data-title="My caption one 2.0"></a>
        </div>
      </div>

      <div class="col-md-3 agileits_portfolio_grid">
        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> data-lightbox="salon_havana" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/04_SalonHavana/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Salon Havana</h4>
              <p>RoR Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/02.png'}" %> data-lightbox="salon_havana" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/03.png'}" %> data-lightbox="salon_havana" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/04.png'}" %> data-lightbox="salon_havana" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/05.png'}" %> data-lightbox="salon_havana" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/04_SalonHavana/06.png'}" %> data-lightbox="salon_havana" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> data-lightbox="buenasnuevas" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/08_BuenasNuevas/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Church in Miami</h4>
              <p>BuenasNuevas Website</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/02.png'}" %> data-lightbox="buenasnuevas" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/03.png'}" %> data-lightbox="buenasnuevas" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/04.png'}" %> data-lightbox="buenasnuevas" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/05.png'}" %> data-lightbox="buenasnuevas" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/06.png'}" %> data-lightbox="buenasnuevas" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/08_BuenasNuevas/07.png'}" %> data-lightbox="buenasnuevas" data-title="My caption one 2.0"></a>
        </div>

        <div class="agileinfo_portfolio_grid hovereffect">
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption 03">
            <img src=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/01.png'}" %> class="img-responsive" alt=" ">
            <div class="overlay">
              <h4>Cenapet</h4>
              <p>HC-CAP 2008</p>
            </div>
          </a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/02.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/03.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/04.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/05.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/06.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/07.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/08.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/09.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/10.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/11.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/12.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/13.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/14.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/15.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/16.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/17.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
          <a href=<%= "#{asset_path 'my_projects/12_HC_CAP_2008/18.png'}" %> data-lightbox="cenapet_hccap_2008" data-title="My caption one 2.0"></a>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //projects -->

<!-- introduce -->
<div class="confi-w3l">
  <div class="container">
    <h3>Hello....</h3>
    <p>It's my pleasure to introduce my self..well, I'm Reinier Garcia.</p>
    <p>
      I am a Highly focused and reliable mid level Full-Stack Web Developer, with an excellent learning capacity and a
      high dedication to work. Competent in handling multiple tasks and concerns with the utmost professionalism.
      Able to work independently with little or no supervision, or in coordination with supervisors and other coworkers.
    </p>
    <p>
      I am a Mid-level programmer with a good knowledge of front-end techniques and a complete passion about the
      back-end. I love structure and order and I also stand for quality. I love spending time on fixing little details
      and optimizing web apps. I enjoy working in a team. As the saying goes: ‘two heads are better than one’.
    </p>
  </div>
</div>
<!-- //introduce -->

<!-- //contact -->
<div class="address" id="contact">
  <div class="container">
    <h3 class="w3l-title">&nbsp;Contact Me&nbsp;</h3>
    <div class="address-row">
      <div class="col-md-6 address-left wow agile fadeInLeft animated" data-wow-delay=".5s">
        <div class="address-grid">
          <h4 class="wow fadeIndown animated" data-wow-delay=".5s">Get In Touch</h4>
          <form action="#" method="post">
            <input type="text" placeholder="Name" name="name" required="">
            <input type="email" placeholder="Email" name="email" required="">
            <input type="text" placeholder="Subject" name="subject" required="">
            <textarea placeholder="Message" required=""></textarea>
            <input type="submit" value="SEND">
          </form>
        </div>
      </div>
      <div class="col-md-6 address-right">
        <div class="address-info wow fadeInRight animated" data-wow-delay=".5s">
          <h4>Address</h4>
          <p>101 Sw 36th CT, Unit 807, Miami, FL 33135, USA.</p>
        </div>
        <div class="address-info address-mdl wow fadeInRight animated" data-wow-delay=".7s">
          <h4>Phone </h4>
          <p>+1 (786) 458-2150</p>
          <p>Please let me know before, via email, the day & time of your call, as well as your calling phone
            number.</p>
          <p style="color: #F68415; font-size: 1em;">
            <small>* I don't receive unknown or unexpected phone calls & messages.</small></p>
        </div>
        <div class="address-info agileits-info wow fadeInRight animated" da ta-wow-delay=".6s">
          <h4>Mail</h4>
          <p><a href="mailto:reymillenium@gmail.com"> reymillenium@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//contact-->

<!-- footer -->
<div class="footer w3ls">
  <div class="container">
    <div class="w3ls-social-icons-2">
      <%= link_to "https://www.linkedin.com/in/reymillenium/", class: "linkedin", target: '_linkedin' do %>
        <i class="fab fa-linkedin"></i>
      <% end %>

      <%= link_to "https://github.com/reymillenium/", class: "github", target: '_github' do %>
        <i class="fa fa-github"></i>
      <% end %>

      <%= link_to "https://stackoverflow.com/users/9616949/reinier-garcia?tab=profile", class: "stack-overflow", target: '_stack' do %>
        <i class="fab fa-stack-overflow"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="copyrights">
  <p>&copy; <%= Time.now.year.to_s %>. All rights reserved | Developed by
    <%= link_to "https://www.linkedin.com/in/reymillenium/", class: "linkedin", target: '_linkedin' do %>
      Reinier Garcia
    <% end %>
</div>
<!-- //footer -->

<!-- js-scripts -->
<!-- js -->
<!--<script type="text/javascript" src="app/javascript/packs/jquery-2.1.4.min.js"></script>-->
<!--<script type="text/javascript" src="app/javascript/packs/bootstrap.js"></script>-->
<!-- //js -->

<!-- start-smoth-scrolling -->
<!--<script type="text/javascript" src="app/javascript/packs/move-top.js"></script>-->
<%#= javascript_pack_tag 'move-top' %>
<!--<script type="text/javascript" src="app/javascript/packs/easing.js"></script>-->
<%#= javascript_pack_tag 'easing' %>
<script type="text/javascript">
    $(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- start-smoth-scrolling -->
<!-- for-bottom-to-top smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
          var defaults = {
          containerID: 'toTop', // fading element id
          containerHoverID: 'toTopHover', // fading element hover id
          scrollSpeed: 1200,
          easingType: 'linear'
          };
        */
        jQuery(document).UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<!-- Al inicio funcionaba, luego ya no más -->
<!--<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>-->
<!-- Temporal Fix. It works -->
<a href="#home" id="toTop" class="scroll" style="display: block;">
  <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //for-bottom-to-top smooth scrolling -->

<!-- menu-script -->
<script>
    (function ($) {
        // Menu Functions
        jQuery(document).ready(function () {
            $('#menuToggle').click(function (e) {
                var $parent = $(this).parent('.menu');
                $parent.toggleClass("open");
                var navState = $parent.hasClass('open') ? "hide" : "show";
                $(this).attr("title", navState + " navigation");
                // Set the timeout to the animation length in the CSS.
                setTimeout(function () {
                    console.log("timeout set");
                    $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
                }, 200);
                e.preventDefault();
            });
        });
    })($);
</script>
<!-- //menu-script -->

<!-- baneer-js -->
<!--<script src="app/javascript/packs/responsiveslides.min.js"></script>-->
<%#= javascript_pack_tag 'responsiveslides' %>
<script>
    // You can also use "$(window).load(function() {"
    jQuery(function () {
        // Slideshow 4
        jQuery("#slider").responsiveSlides({
            auto: true,
            pager: false,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!-- //baneer-js -->

<!-- skills -->
<!--<script src="app/javascript/packs/skill.bars.jquery.js"></script>-->
<%#= javascript_pack_tag 'skill.bars.jquery' %>
<script>
    jQuery(document).ready(function () {

        jQuery('.skillbar').skillBars({
            from: 0,
            speed: 4000,
            interval: 100,
            decimals: 0,
        });

    });
</script>
<!-- //skills -->

<!-- timeline -->
<!--<script type="text/javascript" src="app/javascript/packs/jquery.cntl.js"></script>-->
<script type="text/javascript">
    jQuery(document).ready(function (e) {
        jQuery('.cntl').cntl({
            revealbefore: 300,
            anim_class: 'cntl-animate',
            onreveal: function (e) {
                console.log(e);
            }
        });
    });
</script>
<!-- //timeline -->

<!-- accordion -->
<script>
    jQuery(document).ready(function () {
        function close_accordion_section() {
            jQuery('.accordion .accordion-section-title').removeClass('active');
            jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
        }

        jQuery('.accordion-section-title').click(function (e) {
            // Grab current anchor value
            var currentAttrValue = jQuery(this).attr('href');

            if (jQuery(e.target).is('.active')) {
                close_accordion_section();
            } else {
                close_accordion_section();

                // Add active class to section title
                jQuery(this).addClass('active');
                // Open up the hidden content panel
                jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
            }

            e.preventDefault();
        });
    });
</script>
<!-- //accordion -->

<!-- for projects -->
<!--<script src="app/javascript/packs/jquery.tools.min.js"></script>-->
<%#= javascript_pack_tag 'jquery.tools.min' %>
<!--<script src="app/javascript/packs/jquery.mobile.custom.min.js"></script>-->
<%#= javascript_pack_tag 'jquery.mobile.custom' %>
<!--<script src="app/javascript/packs/jquery.cm-overlay.js"></script>-->
<%#= javascript_pack_tag 'jquery.cm-overlay' %>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<%= javascript_pack_tag 'lightbox' %>
<script>
    $(document).ready(function () {
        // $('.cm-overlay').cmOverlay();
    });
</script>
<!-- //for projects -->
<!-- smooth scrolling -->
<!--<script src="app/javascript/packs/SmoothScroll.min.js"></script>-->
<%#= javascript_pack_tag 'SmoothScroll' %>
<!-- //smooth scrolling -->
<!-- //js-scripts -->
</body>
</html>
